In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("worksheet4.ipynb")

# Worksheet 4: PostgreSQL data manipulation

In [ ]:
import numpy as np
import pandas as pd
%load_ext sql
%config SqlMagic.displaylimit = 20
%config SqlMagic.autolimit = 30

In [ ]:

# load the credentials from the credentials.json file
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [ ]:
%sql postgresql://{username}:{password}@{host}:{port}/dvdrental

In [ ]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

### Exercise 1: Create Table with Constraints

#### Task
Create a table named `students` with the following columns and constraints:
- `id`: An auto-incrementing primary key.
- `first_name`: A non-nullable string with a maximum length of 50 characters.
- `last_name`: A non-nullable string with a maximum length of 50 characters.
- `email`: A unique string with a maximum length of 100 characters.
- `age`: An integer that must be greater than or equal to 18.
- `department`: A string with a maximum length of 50 characters, defaulting to 'General'.

#### Instructions
1. Write the SQL code to create the `students` table with the specified constraints.
2. Write code to test each constraint:
   - Test the `NOT NULL` constraint on `first_name` and `last_name`.
   - Test the `UNIQUE` constraint on `email`.
   - Test the `CHECK` constraint on `age`.
   - Test the `DEFAULT` constraint on `department`.

_Type your answer here, replacing this text._

In [ ]:
...

<!-- END QUESTION -->

### Exercise 2: Add Foreign Key Constraint with Cascade

#### Task
Extend the previous exercise by creating a new table named `courses` and adding a foreign key constraint to the `students` table. The `courses` table should have the following columns:
- `id`: An auto-incrementing primary key.
- `name`: A non-nullable string with a maximum length of 100 characters.

Modify the `students` table to include a foreign key column `course_id` that references the `id` column in the `courses` table. Use the `ON DELETE CASCADE` and `ON UPDATE CASCADE` options for the foreign key constraint.

#### Instructions
1. Write the SQL code to create the `courses` table.
2. Modify the `students` table to include the `course_id` column with the foreign key constraint.
3. Write code to test the referential integrity:
   - Test the `ON DELETE CASCADE` constraint.
   - Test the `ON UPDATE CASCADE` constraint.

_Type your answer here, replacing this text._

In [ ]:
...

In [ ]:
...

<!-- END QUESTION -->

### Exercise 3: Insert Records into the Students Table

#### Task
Extend the previous exercises by inserting 10 records into the `students` table. Ensure that the `course_id` values correspond to valid entries in the `courses` table.

#### Instructions
1. Write the SQL code to insert 10 records into the `students` table.
2. Ensure that the `course_id` values correspond to valid entries in the `courses` table.
3. Write code to query the `students` table and verify the inserted records.

#### Expected output

`courses` table

| id |        name |
|---:|------------:|
|  1 | Mathematics |
|  2 |     Physics |
|  3 |   Chemistry |
|  4 |     Biology |

`students` table

| id | first_name | last_name |                     email | age | department | course_id |
|---:|-----------:|----------:|--------------------------:|----:|-----------:|----------:|
|  1 |       John |       Doe |      john.doe@example.com |  20 |    General |         1 |
|  2 |       Jane |     Smith |    jane.smith@example.com |  22 |    General |         2 |
|  3 |      Alice |   Johnson | alice.johnson@example.com |  19 |    General |         3 |
|  4 |        Bob |     Brown |     bob.brown@example.com |  21 |    General |         4 |
|  5 |    Charlie |     Davis | charlie.davis@example.com |  23 |    General |         1 |
|  6 |      Diana |     Evans |   diana.evans@example.com |  20 |    General |         2 |
|  7 |        Eve |    Foster |    eve.foster@example.com |  22 |    General |         3 |
|  8 |      Frank |     Green |   frank.green@example.com |  19 |    General |         4 |
|  9 |      Grace |    Harris |  grace.harris@example.com |  21 |    General |         1 |
| 10 |       Hank |       Ivy |      hank.ivy@example.com |  23 |    General |         2 |

_Type your answer here, replacing this text._

<!-- BEGIN QUESTION -->

In [ ]:
...

In [ ]:
%%sql
SELECT * FROM students;

In [ ]:
%%sql
SELECT * FROM courses;

<!-- END QUESTION -->

### Exercise 4: Aggregate Functions - COUNT, AVG, MIN, MAX

#### Task
Write SQL queries to perform the following aggregate functions on the `students` table:
1. Count the total number of students.
2. Calculate the average age of students.
3. Find the minimum age of students.
4. Find the maximum age of students.


#### Solution

<!-- BEGIN QUESTION -->

In [ ]:
...

<!-- END QUESTION -->

### Exercise 5: Aggregate Functions - GROUP BY, WHERE, HAVING, and ORDER BY

#### Task
Write SQL queries to perform the following operations on the `students` table:
1. Group students by `course_id` and count the number of students in each course.
2. Group students by `course_id` and calculate the average age of students in each course.
3. Group students by `course_id` and find the minimum age of students in each course.
4. Group students by `course_id` and find the maximum age of students in each course.
5. Use the `HAVING` clause to filter groups where the average age of students is greater than 21.
6. Use the `WHERE` clause to filter students who are older than 20 before performing the aggregation.
7. Use the `ORDER BY` clause to sort the results by the number of students in each course in descending order.

_Type your answer here, replacing this text._

<!-- BEGIN QUESTION -->

In [ ]:
...

<!-- END QUESTION -->

## Submission instructions

{rubric: mechanics = 5}

- Make sure the notebook can run from top to bottom without any error. Restart the kernel and run all cells.
- Commit and push your notebook to the github repo
- Double check your notebook is rendered properly on Github and you can see all the outputs clearly
- Submit URL of your Github repo to Moodle under worksheet 3