# Lecture 9: Joins & subqueries in SQL

## Learning Objectives
By the end of this lecture, students should understand:
- What JOIN statements are and why they are used.
- The different types of JOINs: INNER JOIN, LEFT JOIN, RIGHT JOIN, and FULL OUTER JOIN.
- How to deal with ambiguous column names in JOINs.
- How to join more than two tables.
- What subqueries are and why they are used.
- The different types of subqueries: single-row, multiple-row, and correlated subqueries.

In [1]:
# load the ipython-sql extension
%load_ext sql
%config SqlMagic.displaylimit = 10
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

Let's connect to your dvdrental database

In [2]:
%sql postgresql://{username}:{password}@{host}:{port}/dvdrental

'Connected: postgres@dvdrental'


## JOIN Statements
JOIN statements are used in SQL to combine rows from two or more tables based on a related column between them. This is essential for querying data that is spread across multiple tables.

#### Types of JOINs
1. **INNER JOIN**: Returns records that have matching values in both tables.
2. **LEFT JOIN (or LEFT OUTER JOIN)**: Returns all records from the left table, and the matched records from the right table. The result is NULL from the right side if there is no match.
3. **RIGHT JOIN (or RIGHT OUTER JOIN)**: Returns all records from the right table, and the matched records from the left table. The result is NULL from the left side when there is no match.
4. **FULL OUTER JOIN**: Returns all records when there is a match in either left or right table. Records not matching in either table will have NULLs.


##### Example Tables
For this lecture, we will create two simple tables: `student` and `course`.

##### Creating the `student` Table

In [3]:
%%sql
DROP TABLE IF EXISTS student CASCADE;
CREATE TABLE student (
    student_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50)
);

INSERT INTO student (first_name, last_name) VALUES
('John', 'Doe'),
('Jane', 'Smith'),
('Alice', 'Johnson'),
('Bob', 'Brown')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
4 rows affected.

[(1, 'John', 'Doe'),
 (2, 'Jane', 'Smith'),
 (3, 'Alice', 'Johnson'),
 (4, 'Bob', 'Brown')]



##### Creating the `course` Table

In [4]:
%%sql

DROP TABLE IF EXISTS course CASCADE;
CREATE TABLE course (
    course_id SERIAL PRIMARY KEY,
    student_id INT,
    course_name VARCHAR(100),
    FOREIGN KEY (student_id) REFERENCES student(student_id)
);

INSERT INTO course (student_id, course_name) VALUES
(1, 'Mathematics'),
(2, 'Science'),
(3, 'History'),
(1, 'Literature')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
4 rows affected.

[(1, 1, 'Mathematics'),
 (2, 2, 'Science'),
 (3, 3, 'History'),
 (4, 1, 'Literature')]

Before performing any JOIN operations, let's display the first few rows of the `student` and `course` tables.

In [6]:
%%sql
SELECT * FROM student;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 'John', 'Doe'),
 (2, 'Jane', 'Smith'),
 (3, 'Alice', 'Johnson'),
 (4, 'Bob', 'Brown')]

In [7]:
%%sql
SELECT * FROM course;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 1, 'Mathematics'),
 (2, 2, 'Science'),
 (3, 3, 'History'),
 (4, 1, 'Literature')]





#### INNER JOIN
The `INNER JOIN`keyword selects records that have matching values in both tables.

![](https://www.w3schools.com/sql/img_innerjoin.gif)

In [7]:
%%sql
SELECT student.student_id, first_name, last_name, course_name
FROM student
INNER JOIN course
ON student.student_id = course.student_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 'John', 'Doe', 'Mathematics'),
 (2, 'Jane', 'Smith', 'Science'),
 (3, 'Alice', 'Johnson', 'History'),
 (1, 'John', 'Doe', 'Literature')]

You can also use alias to give a table a temporary name to make the query more readable. In the example below we give `student` table an alias called `s` and the `course` table an alias called `c`:

In [8]:
%%sql
SELECT *
FROM student AS s
INNER JOIN course AS c 
ON s.student_id = c.student_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 'John', 'Doe', 1, 1, 'Mathematics'),
 (2, 'Jane', 'Smith', 2, 2, 'Science'),
 (3, 'Alice', 'Johnson', 3, 3, 'History'),
 (1, 'John', 'Doe', 4, 1, 'Literature')]



##### Dealing with Ambiguous Column Names
When joining multiple tables, you may encounter ambiguous column names. This happens when two or more tables have columns with the same name. To resolve this, you can use table aliases or fully qualify the column names.

**Example with Ambiguous Column Names**

Consider the `student` and `course` tables both having a column named `student_id`.

In [10]:
%%sql
SELECT student_id, first_name, last_name, course_name
FROM student
INNER JOIN course ON student.student_id = course.student_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/dvdrental
(psycopg2.errors.AmbiguousColumn) column reference "student_id" is ambiguous
LINE 1: SELECT student_id, first_name, last_name, course_name
               ^

[SQL: SELECT student_id, first_name, last_name, course_name
FROM student
INNER JOIN course ON student.student_id = course.student_id
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/f405)

- **Problem**: The column `student_id` is ambiguous because it exists in both tables.

**Resolving Ambiguity with Table Aliases**

You can use table aliases to differentiate between columns from different tables.

In [11]:
%%sql
SELECT s.student_id, s.first_name, s.last_name, c.course_name
FROM student AS s
INNER JOIN course AS c ON s.student_id = c.student_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 'John', 'Doe', 'Mathematics'),
 (2, 'Jane', 'Smith', 'Science'),
 (3, 'Alice', 'Johnson', 'History'),
 (1, 'John', 'Doe', 'Literature')]



#### LEFT JOIN
The `LEFT JOIN` keyword returns all records from the left table (student), and the matched records from the right table (course). The result is NULL from the right side if there is no match.

![](https://www.w3schools.com/sql/img_leftjoin.gif)

In [10]:
%%sql
SELECT * FROM course;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 1, 'Mathematics'),
 (2, 2, 'Science'),
 (3, 3, 'History'),
 (4, 1, 'Literature')]

In [9]:
%%sql
SELECT s.student_id, s.first_name, s.last_name, c.course_name
FROM student AS s
LEFT JOIN course AS c 
ON s.student_id = c.student_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
5 rows affected.

[(1, 'John', 'Doe', 'Mathematics'),
 (2, 'Jane', 'Smith', 'Science'),
 (3, 'Alice', 'Johnson', 'History'),
 (1, 'John', 'Doe', 'Literature'),
 (4, 'Bob', 'Brown', None)]



#### RIGHT JOIN
The `RIGHT JOIN` keyword returns all records from the right table (course), and the matched records from the left table (student). The result is NULL from the left side when there is no match.

![](https://www.w3schools.com/sql/img_rightjoin.gif)

In [11]:
%%sql
SELECT s.student_id, s.first_name, s.last_name, c.course_name
FROM student AS s
RIGHT JOIN course AS c 
ON s.student_id = c.student_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 'John', 'Doe', 'Mathematics'),
 (2, 'Jane', 'Smith', 'Science'),
 (3, 'Alice', 'Johnson', 'History'),
 (1, 'John', 'Doe', 'Literature')]



#### FULL OUTER JOIN
The `FULL OUTER JOIN` keyword returns all records when there is a match in either left (student) or right (course) table. Records not matching in either table will have NULLs.

![](https://media.geeksforgeeks.org/wp-content/uploads/20210328192056/imgfulljoin.gif)

In [12]:
%%sql
SELECT s.student_id, s.first_name, s.last_name, c.course_name
FROM student AS s
FULL OUTER JOIN course AS c ON s.student_id = c.student_id
;

 * postgresql://postgres:***@localhost:5432/dvdrental
5 rows affected.

[(1, 'John', 'Doe', 'Mathematics'),
 (2, 'Jane', 'Smith', 'Science'),
 (3, 'Alice', 'Johnson', 'History'),
 (1, 'John', 'Doe', 'Literature'),
 (4, 'Bob', 'Brown', None)]


#### Joining More Than Two Tables
You can join more than two tables by chaining multiple JOIN statements. Let's join the `student`, `course`, and `enrollment` tables to get the student's name, course name, and enrollment date.

**Creating the `enrollment` Table**

In [13]:
%%sql
DROP TABLE IF EXISTS enrollment CASCADE;
CREATE TABLE enrollment (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATE,
    FOREIGN KEY (student_id) REFERENCES student(student_id),
    FOREIGN KEY (course_id) REFERENCES course(course_id)
);

INSERT INTO enrollment (student_id, course_id, enrollment_date) VALUES
(1, 1, '2023-01-01'),
(2, 2, '2023-01-02'),
(3, 3, '2023-01-03'),
(1, 4, '2023-01-04');

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
4 rows affected.

[]

In [14]:
%%sql
SELECT * FROM enrollment;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[(1, 1, 1, datetime.date(2023, 1, 1)),
 (2, 2, 2, datetime.date(2023, 1, 2)),
 (3, 3, 3, datetime.date(2023, 1, 3)),
 (4, 1, 4, datetime.date(2023, 1, 4))]

**Joining `student`, `course`, and `enrollment` Tables**

In [24]:
%%sql
SELECT s.first_name, s.last_name, s.student_id, c.course_name, c.course_id, e.enrollment_date
FROM student AS s
INNER JOIN enrollment AS e ON s.student_id = e.student_id
INNER JOIN course AS c ON e.course_id = c.course_id
;

 * postgresql://postgres:***@localhost:5432/dvdrental
4 rows affected.

[('John', 'Doe', 1, 'Mathematics', 1, datetime.date(2023, 1, 1)),
 ('Jane', 'Smith', 2, 'Science', 2, datetime.date(2023, 1, 2)),
 ('Alice', 'Johnson', 3, 'History', 3, datetime.date(2023, 1, 3)),
 ('John', 'Doe', 1, 'Literature', 4, datetime.date(2023, 1, 4))]



#### Summary
- **INNER JOIN**: Returns only the matching rows.
- **LEFT JOIN**: Returns all rows from the left table, and the matched rows from the right table.
- **RIGHT JOIN**: Returns all rows from the right table, and the matched rows from the left table.
- **FULL OUTER JOIN**: Returns all rows when there is a match in either left or right table.
- **Dealing with Ambiguous Column Names**: Use table aliases or fully qualify column names to resolve ambiguity.
- **Joining More Than Two Tables**: Chain multiple JOIN statements to combine data from more than two tables.

By understanding and using these JOIN statements and techniques, you can effectively query and combine data from multiple tables in your database.

## Subqueries
A subquery, also known as an inner query or nested query, is a query within another SQL query. Subqueries can be used to perform operations that require multiple steps, such as filtering data based on the results of another query.

### Types of Subqueries
1. **Single-Row Subqueries**: Return a single row and are used with comparison operators like `=`, `<`, `>`, etc.
2. **Multiple-Row Subqueries**: Return multiple rows and are used with operators like `IN`, `ANY`, `ALL`.
3. **Correlated Subqueries**: Refer to columns in the outer query and are evaluated once for each row processed by the outer query.

In [25]:
%%sql
SELECT * FROM payment
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/dvdrental
10 rows affected.

[(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17504, 341, 1, 1778, Decimal('1.99'), datetime.datetime(2007, 2, 16, 17, 23, 14, 996577)),
 (17505, 341, 1, 1849, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17506, 341, 2, 2829, Decimal('2.99'), datetime.datetime(2007, 2, 19, 19, 39, 56, 996577)),
 (17507, 341, 2, 3130, Decimal('7.99'), datetime.datetime(2007, 2, 20, 17, 31, 48, 996577)),
 (17508, 341, 1, 3382, Decimal('5.99'), datetime.datetime(2007, 2, 21, 12, 33, 49, 996577)),
 (17509, 342, 2, 2190, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 58, 17, 996577)),
 (17510, 342, 1, 2914, Decimal('5.99'), datetime.datetime(2007, 2, 20, 2, 11, 44, 996577)),
 (17511, 342, 1, 3081, Decimal('2.99'), datetime.datetime(2007, 2, 20, 13, 57, 39, 996577)),
 (17512, 343, 2, 1547, Decimal('4.99'), datetime.datetime(2007, 2, 16, 0, 10, 50, 996577))]


### Single-Row Subqueries
Single-row subqueries return a single row and are used with comparison operators like `=`, `<`, `>`, etc.


#### Example: Find all the rentals with the price that is above the average rental price

This query looks simple. You might be tempted to try

In [19]:
%%sql
SELECT rental_id 
FROM payment
WHERE amount > AVG(amount);

 * postgresql://postgres:***@localhost:5432/dvdrental
(psycopg2.errors.GroupingError) aggregate functions are not allowed in WHERE
LINE 3: WHERE amount > AVG(amount);
                       ^

[SQL: SELECT rental_id
FROM payment
WHERE amount > AVG(amount);]
(Background on this error at: https://sqlalche.me/e/14/f405)

This doesn't work because we cannot use an aggregate function within the `WHERE` clause.

To answer this question, we would need to querry the data twice:
1. To retrive the average `amount`
2. To retrive the `rental_id` where the `amount` is larger than the average `amount` from the first querry

However, we donâ€™t need to do that in two separate queries and manually take the data coming from the first query and use it in the second. We can use a **subquery** to do that for us.

First, let's compute the average `amount` in payment:

In [20]:
%%sql
SELECT AVG(amount) FROM payment;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(Decimal('4.2006056453822965'),)]

We can use this intermediate information in our original query by embedding the above query in the `WHERE` clause of the original query:

In [27]:
%%sql
SELECT rental_id, amount
FROM payment
WHERE amount > (SELECT AVG(amount) FROM payment)
ORDER BY amount
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/dvdrental
10 rows affected.

[(1780, Decimal('4.99')),
 (3331, Decimal('4.99')),
 (1649, Decimal('4.99')),
 (1678, Decimal('4.99')),
 (2766, Decimal('4.99')),
 (1547, Decimal('4.99')),
 (3026, Decimal('4.99')),
 (1457, Decimal('4.99')),
 (1475, Decimal('4.99')),
 (2275, Decimal('4.99'))]

```{note}
A subquery can be used in the `SELECT`, `FROM`, `WHERE`, and `HAVING` clauses. Subqueries are most commonly used in the `WHERE` clause.
```

#### Example: Return the name of all customers whose rental price is larger than $11.00

In [28]:
%%sql
SELECT customer_id
FROM payment
WHERE amount > 11.00;

 * postgresql://postgres:***@localhost:5432/dvdrental
8 rows affected.

[(362,), (204,), (116,), (195,), (237,), (591,), (592,), (13,)]

In [29]:
%%sql
SELECt * FROM customer;

 * postgresql://postgres:***@localhost:5432/dvdrental
599 rows affected.

[(524, 1, 'Jared', 'Ely', 'jared.ely@sakilacustomer.org', 530, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (1, 1, 'Mary', 'Smith', 'mary.smith@sakilacustomer.org', 5, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (2, 1, 'Patricia', 'Johnson', 'patricia.johnson@sakilacustomer.org', 6, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (3, 1, 'Linda', 'Williams', 'linda.williams@sakilacustomer.org', 7, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (4, 2, 'Barbara', 'Jones', 'barbara.jones@sakilacustomer.org', 8, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (5, 1, 'Elizabeth', 'Brown', 'elizabeth.brown@sakilacustomer.org', 9, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (6, 2, 'Jennifer', 'Davis', 'jennifer.davis@sakilacustomer.org', 10, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (7, 1, 'Maria', 'Miller', 'maria.miller@sakilacustomer.org', 11, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (8, 2, 'Susan', 'Wilson', 'susan.wilson@sakilacustomer.org', 12, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (9, 2, 'Margaret', 'Moore', 'margaret.moore@sakilacustomer.org', 13, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (10, 1, 'Dorothy', 'Taylor', 'dorothy.taylor@sakilacustomer.org', 14, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (11, 2, 'Lisa', 'Anderson', 'lisa.anderson@sakilacustomer.org', 15, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (12, 1, 'Nancy', 'Thomas', 'nancy.thomas@sakilacustomer.org', 16, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (13, 2, 'Karen', 'Jackson', 'karen.jackson@sakilacustomer.org', 17, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (14, 2, 'Betty', 'White', 'betty.white@sakilacustomer.org', 18, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (15, 1, 'Helen', 'Harris', 'helen.harris@sakilacustomer.org', 19, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (16, 2, 'Sandra', 'Martin', 'sandra.martin@sakilacustomer.org', 20, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 0),
 (17, 1, 'Donna', 'Thompson', 'donna.thompson@sakilacustomer.org', 21, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (18, 2, 'Carol', 'Garcia', 'carol.garcia@sakilacustomer.org', 22, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (19, 1, 'Ruth', 'Martinez', 'ruth.martinez@sakilacustomer.org', 23, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (20, 2, 'Sharon', 'Robinson', 'sharon.robinson@sakilacustomer.org', 24, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (21, 1, 'Michelle', 'Clark', 'michelle.clark@sakilacustomer.org', 25, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (22, 1, 'Laura', 'Rodriguez', 'laura.rodriguez@sakilacustomer.org', 26, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (23, 2, 'Sarah', 'Lewis', 'sarah.lewis@sakilacustomer.org', 27, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (24, 2, 'Kimberly', 'Lee', 'kimberly.lee@sakilacustomer.org', 28, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (25, 1, 'Deborah', 'Walker', 'deborah.walker@sakilacustomer.org', 29, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (26, 2, 'Jessica', 'Hall', 'jessica.hall@sakilacustomer.org', 30, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (27, 2, 'Shirley', 'Allen', 'shirley.allen@sakilacustomer.org', 31, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (28, 1, 'Cynthia', 'Young', 'cynthia.young@sakilacustomer.org', 32, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (29, 2, 'Angela', 'Hernandez', 'angela.hernandez@sakilacustomer.org', 33, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (30, 1, 'Melissa', 'King', 'melissa.king@sakilacustomer.org', 34, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (31, 2, 'Brenda', 'Wright', 'brenda.wright@sakilacustomer.org', 35, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (32, 1, 'Amy', 'Lopez', 'amy.lopez@sakilacustomer.org', 36, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (33, 2, 'Anna', 'Hill', 'anna.hill@sakilacustomer.org', 37, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (34, 2, 'Rebecca', 'Scott', 'rebecca.scott@sakilacustomer.org', 38, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (35, 2, 'Virginia', 'Green', 'virginia.green@sakilacustomer.org', 39, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (36, 2, 'Kathleen', 'Adams', 'kathleen.adams@sakilacustomer.org', 40, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (37, 1, 'Pamela', 'Baker', 'pamela.baker@sakilacustomer.org', 41, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (38, 1, 'Martha', 'Gonzalez', 'martha.gonzalez@sakilacustomer.org', 42, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (39, 1, 'Debra', 'Nelson', 'debra.nelson@sakilacustomer.org', 43, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (40, 2, 'Amanda', 'Carter', 'amanda.carter@sakilacustomer.org', 44, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (41, 1, 'Stephanie', 'Mitchell', 'stephanie.mitchell@sakilacustomer.org', 45, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (42, 2, 'Carolyn', 'Perez', 'carolyn.perez@sakilacustomer.org', 46, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (43, 2, 'Christine', 'Roberts', 'christine.roberts@sakilacustomer.org', 47, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (44, 1, 'Marie', 'Turner', 'marie.turner@sakilacustomer.org', 48, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (45, 1, 'Janet', 'Phillips', 'janet.phillips@sakilacustomer.org', 49, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (46, 2, 'Catherine', 'Campbell', 'catherine.campbell@sakilacustomer.org', 50, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (47, 1, 'Frances', 'Parker', 'frances.parker@sakilacustomer.org', 51, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (48, 1, 'Ann', 'Evans', 'ann.evans@sakilacustomer.org', 52, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (49, 2, 'Joyce', 'Edwards', 'joyce.edwards@sakilacustomer.org', 53, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (50, 1, 'Diane', 'Collins', 'diane.collins@sakilacustomer.org', 54, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (51, 1, 'Alice', 'Stewart', 'alice.stewart@sakilacustomer.org', 55, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (52, 1, 'Julie', 'Sanchez', 'julie.sanchez@sakilacustomer.org', 56, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (53, 1, 'Heather', 'Morris', 'heather.morris@sakilacustomer.org', 57, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (54, 1, 'Teresa', 'Rogers', 'teresa.rogers@sakilacustomer.org', 58, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (55, 2, 'Doris', 'Reed', 'doris.reed@sakilacustomer.org', 59, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (56, 1, 'Gloria', 'Cook', 'gloria.cook@sakilacustomer.org', 60, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (57, 2, 'Evelyn', 'Morgan', 'evelyn.morgan@sakilacustomer.org', 61, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (58, 1, 'Jean', 'Bell', 'jean.bell@sakilacustomer.org', 62, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (59, 1, 'Cheryl', 'Murphy', 'cheryl.murphy@sakilacustomer.org', 63, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (60, 1, 'Mildred', 'Bailey', 'mildred.bailey@sakilacustomer.org', 64, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (61, 2, 'Katherine', 'Rivera', 'katherine.rivera@sakilacustomer.org', 65, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (62, 1, 'Joan', 'Cooper', 'joan.cooper@sakilacustomer.org', 66, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (63, 1, 'Ashley', 'Richardson', 'ashley.richardson@sakilacustomer.org', 67, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (64, 2, 'Judith', 'Cox', 'judith.cox@sakilacustomer.org', 68, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 0),
 (65, 2, 'Rose', 'Howard', 'rose.howard@sakilacustomer.org', 69, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (66, 2, 'Janice', 'Ward', 'janice.ward@sakilacustomer.org', 70, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (67, 1, 'Kelly', 'Torres', 'kelly.torres@sakilacustomer.org', 71, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (68, 1, 'Nicole', 'Peterson', 'nicole.peterson@sakilacustomer.org', 72, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (69, 2, 'Judy', 'Gray', 'judy.gray@sakilacustomer.org', 73, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (70, 2, 'Christina', 'Ramirez', 'christina.ramirez@sakilacustomer.org', 74, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (71, 1, 'Kathy', 'James', 'kathy.james@sakilacustomer.org', 75, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (72, 2, 'Theresa', 'Watson', 'theresa.watson@sakilacustomer.org', 76, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (73, 2, 'Beverly', 'Brooks', 'beverly.brooks@sakilacustomer.org', 77, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (74, 1, 'Denise', 'Kelly', 'denise.kelly@sakilacustomer.org', 78, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (75, 2, 'Tammy', 'Sanders', 'tammy.sanders@sakilacustomer.org', 79, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (76, 2, 'Irene', 'Price', 'irene.price@sakilacustomer.org', 80, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (77, 2, 'Jane', 'Bennett', 'jane.bennett@sakilacustomer.org', 81, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (78, 1, 'Lori', 'Wood', 'lori.wood@sakilacustomer.org', 82, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (79, 1, 'Rachel', 'Barnes', 'rachel.barnes@sakilacustomer.org', 83, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (80, 1, 'Marilyn', 'Ross', 'marilyn.ross@sakilacustomer.org', 84, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (81, 1, 'Andrea', 'Henderson', 'andrea.henderson@sakilacustomer.org', 85, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (82, 1, 'Kathryn', 'Coleman', 'kathryn.coleman@sakilacustomer.org', 86, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (83, 1, 'Louise', 'Jenkins', 'louise.jenkins@sakilacustomer.org', 87, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (84, 2, 'Sara', 'Perry', 'sara.perry@sakilacustomer.org', 88, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (85, 2, 'Anne', 'Powell', 'anne.powell@sakilacustomer.org', 89, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (86, 2, 'Jacqueline', 'Long', 'jacqueline.long@sakilacustomer.org', 90, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (87, 1, 'Wanda', 'Patterson', 'wanda.patterson@sakilacustomer.org', 91, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (88, 2, 'Bonnie', 'Hughes', 'bonnie.hughes@sakilacustomer.org', 92, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (89, 1, 'Julia', 'Flores', 'julia.flores@sakilacustomer.org', 93, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (90, 2, 'Ruby', 'Washington', 'ruby.washington@sakilacustomer.org', 94, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (91, 2, 'Lois', 'Butler', 'lois.butler@sakilacustomer.org', 95, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (92, 2, 'Tina', 'Simmons', 'tina.simmons@sakilacustomer.org', 96, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (93, 1, 'Phyllis', 'Foster', 'phyllis.foster@sakilacustomer.org', 97, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (94, 1, 'Norma', 'Gonzales', 'norma.gonzales@sakilacustomer.org', 98, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (95, 2, 'Paula', 'Bryant', 'paula.bryant@sakilacustomer.org', 99, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (96, 1, 'Diana', 'Alexander', 'diana.alexander@sakilacustomer.org', 100, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (97, 2, 'Annie', 'Russell', 'annie.russell@sakilacustomer.org', 101, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (98, 1, 'Lillian', 'Griffin', 'lillian.griffin@sakilacustomer.org', 102, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (99, 2, 'Emily', 'Diaz', 'emily.diaz@sakilacustomer.org', 103, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (100, 1, 'Robin', 'Hayes', 'robin.hayes@sakilacustomer.org', 104, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (101, 1, 'Peggy', 'Myers', 'peggy.myers@sakilacustomer.org', 105, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (102, 1, 'Crystal', 'Ford', 'crystal.ford@sakilacustomer.org', 106, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (103, 1, 'Gladys', 'Hamilton', 'gladys.hamilton@sakilacustomer.org', 107, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (104, 1, 'Rita', 'Graham', 'rita.graham@sakilacustomer.org', 108, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (105, 1, 'Dawn', 'Sullivan', 'dawn.sullivan@sakilacustomer.org', 109, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (106, 1, 'Connie', 'Wallace', 'connie.wallace@sakilacustomer.org', 110, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (107, 1, 'Florence', 'Woods', 'florence.woods@sakilacustomer.org', 111, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (108, 1, 'Tracy', 'Cole', 'tracy.cole@sakilacustomer.org', 112, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (109, 2, 'Edna', 'West', 'edna.west@sakilacustomer.org', 113, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (110, 2, 'Tiffany', 'Jordan', 'tiffany.jordan@sakilacustomer.org', 114, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (111, 1, 'Carmen', 'Owens', 'carmen.owens@sakilacustomer.org', 115, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (112, 2, 'Rosa', 'Reynolds', 'rosa.reynolds@sakilacustomer.org', 116, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (113, 2, 'Cindy', 'Fisher', 'cindy.fisher@sakilacustomer.org', 117, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (114, 2, 'Grace', 'Ellis', 'grace.ellis@sakilacustomer.org', 118, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (115, 1, 'Wendy', 'Harrison', 'wendy.harrison@sakilacustomer.org', 119, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (116, 1, 'Victoria', 'Gibson', 'victoria.gibson@sakilacustomer.org', 120, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (117, 1, 'Edith', 'Mcdonald', 'edith.mcdonald@sakilacustomer.org', 121, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (118, 1, 'Kim', 'Cruz', 'kim.cruz@sakilacustomer.org', 122, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (119, 1, 'Sherry', 'Marshall', 'sherry.marshall@sakilacustomer.org', 123, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (120, 2, 'Sylvia', 'Ortiz', 'sylvia.ortiz@sakilacustomer.org', 124, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (121, 1, 'Josephine', 'Gomez', 'josephine.gomez@sakilacustomer.org', 125, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (122, 1, 'Thelma', 'Murray', 'thelma.murray@sakilacustomer.org', 126, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (123, 2, 'Shannon', 'Freeman', 'shannon.freeman@sakilacustomer.org', 127, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (124, 1, 'Sheila', 'Wells', 'sheila.wells@sakilacustomer.org', 128, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 0),

In [67]:
%%sql

SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM payment
    WHERE amount > 11.00
);

 * postgresql://postgres:***@localhost:5432/dvdrental
8 rows affected.

[('Karen', 'Jackson'),
 ('Victoria', 'Gibson'),
 ('Vanessa', 'Sims'),
 ('Rosemary', 'Schmidt'),
 ('Tanya', 'Gilbert'),
 ('Nicholas', 'Barfield'),
 ('Kent', 'Arsenault'),
 ('Terrance', 'Roush')]

In [68]:
%%sql
SELECT first_name, last_name, amount
FROM customer
INNER JOIN (SELECT customer_id, amount FROM payment WHERE amount > 11.00) AS p
ON customer.customer_id = p.customer_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
8 rows affected.

[('Nicholas', 'Barfield', Decimal('11.99')),
 ('Rosemary', 'Schmidt', Decimal('11.99')),
 ('Victoria', 'Gibson', Decimal('11.99')),
 ('Vanessa', 'Sims', Decimal('11.99')),
 ('Tanya', 'Gilbert', Decimal('11.99')),
 ('Kent', 'Arsenault', Decimal('11.99')),
 ('Terrance', 'Roush', Decimal('11.99')),
 ('Karen', 'Jackson', Decimal('11.99'))]

### Multiple-Row Subqueries
Multiple-row subqueries return multiple rows and are used with operators like `IN`, `ANY`, `ALL`.

#### Example with `IN`

Return the name of all customers whose rental price is larger than the average rental price

In [36]:
%%sql

SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM payment
    WHERE amount > (SELECT AVG(amount) FROM payment)
    ORDER BY amount DESC
)
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/dvdrental
10 rows affected.

[('Vivian', 'Ruiz'),
 ('Wanda', 'Patterson'),
 ('Dan', 'Paine'),
 ('Priscilla', 'Lowe'),
 ('Guy', 'Brownlee'),
 ('Alice', 'Stewart'),
 ('Chris', 'Brothers'),
 ('Kay', 'Caldwell'),
 ('Christina', 'Ramirez'),
 ('Yolanda', 'Weaver')]

#### Example with `ANY`

The `ANY` operator is used to compare a value to any value in a list or subquery.

Find customers who have made a payment greater than any payment made by customer with `customer_id` = 1

In [37]:
%%sql
SELECT amount
FROM payment
WHERE customer_id = 1;

 * postgresql://postgres:***@localhost:5432/dvdrental
30 rows affected.

[(Decimal('5.99'),),
 (Decimal('0.99'),),
 (Decimal('9.99'),),
 (Decimal('4.99'),),
 (Decimal('4.99'),),
 (Decimal('0.99'),),
 (Decimal('3.99'),),
 (Decimal('4.99'),),
 (Decimal('3.99'),),
 (Decimal('0.99'),),
 (Decimal('4.99'),),
 (Decimal('0.99'),),
 (Decimal('0.99'),),
 (Decimal('2.99'),),
 (Decimal('0.99'),),
 (Decimal('1.99'),),
 (Decimal('2.99'),),
 (Decimal('5.99'),),
 (Decimal('5.99'),),
 (Decimal('5.99'),),
 (Decimal('4.99'),),
 (Decimal('4.99'),),
 (Decimal('7.99'),),
 (Decimal('2.99'),),
 (Decimal('4.99'),),
 (Decimal('4.99'),),
 (Decimal('0.99'),),
 (Decimal('0.99'),),
 (Decimal('2.99'),),
 (Decimal('2.99'),)]

In [38]:
%%sql
SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM payment
    WHERE amount > ANY (
        SELECT amount
        FROM payment
        WHERE customer_id = 1
    )
);

 * postgresql://postgres:***@localhost:5432/dvdrental
599 rows affected.

[('Jared', 'Ely'),
 ('Mary', 'Smith'),
 ('Patricia', 'Johnson'),
 ('Linda', 'Williams'),
 ('Barbara', 'Jones'),
 ('Elizabeth', 'Brown'),
 ('Jennifer', 'Davis'),
 ('Maria', 'Miller'),
 ('Susan', 'Wilson'),
 ('Margaret', 'Moore'),
 ('Dorothy', 'Taylor'),
 ('Lisa', 'Anderson'),
 ('Nancy', 'Thomas'),
 ('Karen', 'Jackson'),
 ('Betty', 'White'),
 ('Helen', 'Harris'),
 ('Sandra', 'Martin'),
 ('Donna', 'Thompson'),
 ('Carol', 'Garcia'),
 ('Ruth', 'Martinez'),
 ('Sharon', 'Robinson'),
 ('Michelle', 'Clark'),
 ('Laura', 'Rodriguez'),
 ('Sarah', 'Lewis'),
 ('Kimberly', 'Lee'),
 ('Deborah', 'Walker'),
 ('Jessica', 'Hall'),
 ('Shirley', 'Allen'),
 ('Cynthia', 'Young'),
 ('Angela', 'Hernandez'),
 ('Melissa', 'King'),
 ('Brenda', 'Wright'),
 ('Amy', 'Lopez'),
 ('Anna', 'Hill'),
 ('Rebecca', 'Scott'),
 ('Virginia', 'Green'),
 ('Kathleen', 'Adams'),
 ('Pamela', 'Baker'),
 ('Martha', 'Gonzalez'),
 ('Debra', 'Nelson'),
 ('Amanda', 'Carter'),
 ('Stephanie', 'Mitchell'),
 ('Carolyn', 'Perez'),
 ('Christine', 'Roberts'),
 ('Marie', 'Turner'),
 ('Janet', 'Phillips'),
 ('Catherine', 'Campbell'),
 ('Frances', 'Parker'),
 ('Ann', 'Evans'),
 ('Joyce', 'Edwards'),
 ('Diane', 'Collins'),
 ('Alice', 'Stewart'),
 ('Julie', 'Sanchez'),
 ('Heather', 'Morris'),
 ('Teresa', 'Rogers'),
 ('Doris', 'Reed'),
 ('Gloria', 'Cook'),
 ('Evelyn', 'Morgan'),
 ('Jean', 'Bell'),
 ('Cheryl', 'Murphy'),
 ('Mildred', 'Bailey'),
 ('Katherine', 'Rivera'),
 ('Joan', 'Cooper'),
 ('Ashley', 'Richardson'),
 ('Judith', 'Cox'),
 ('Rose', 'Howard'),
 ('Janice', 'Ward'),
 ('Kelly', 'Torres'),
 ('Nicole', 'Peterson'),
 ('Judy', 'Gray'),
 ('Christina', 'Ramirez'),
 ('Kathy', 'James'),
 ('Theresa', 'Watson'),
 ('Beverly', 'Brooks'),
 ('Denise', 'Kelly'),
 ('Tammy', 'Sanders'),
 ('Irene', 'Price'),
 ('Jane', 'Bennett'),
 ('Lori', 'Wood'),
 ('Rachel', 'Barnes'),
 ('Marilyn', 'Ross'),
 ('Andrea', 'Henderson'),
 ('Kathryn', 'Coleman'),
 ('Louise', 'Jenkins'),
 ('Sara', 'Perry'),
 ('Anne', 'Powell'),
 ('Jacqueline', 'Long'),
 ('Wanda', 'Patterson'),
 ('Bonnie', 'Hughes'),
 ('Julia', 'Flores'),
 ('Ruby', 'Washington'),
 ('Lois', 'Butler'),
 ('Tina', 'Simmons'),
 ('Phyllis', 'Foster'),
 ('Norma', 'Gonzales'),
 ('Paula', 'Bryant'),
 ('Diana', 'Alexander'),
 ('Annie', 'Russell'),
 ('Lillian', 'Griffin'),
 ('Emily', 'Diaz'),
 ('Robin', 'Hayes'),
 ('Peggy', 'Myers'),
 ('Crystal', 'Ford'),
 ('Gladys', 'Hamilton'),
 ('Rita', 'Graham'),
 ('Dawn', 'Sullivan'),
 ('Connie', 'Wallace'),
 ('Florence', 'Woods'),
 ('Tracy', 'Cole'),
 ('Edna', 'West'),
 ('Tiffany', 'Jordan'),
 ('Carmen', 'Owens'),
 ('Rosa', 'Reynolds'),
 ('Cindy', 'Fisher'),
 ('Grace', 'Ellis'),
 ('Wendy', 'Harrison'),
 ('Victoria', 'Gibson'),
 ('Edith', 'Mcdonald'),
 ('Kim', 'Cruz'),
 ('Sherry', 'Marshall'),
 ('Sylvia', 'Ortiz'),
 ('Josephine', 'Gomez'),
 ('Thelma', 'Murray'),
 ('Shannon', 'Freeman'),
 ('Sheila', 'Wells'),
 ('Ethel', 'Webb'),
 ('Ellen', 'Simpson'),
 ('Elaine', 'Stevens'),
 ('Marjorie', 'Tucker'),
 ('Carrie', 'Porter'),
 ('Charlotte', 'Hunter'),
 ('Monica', 'Hicks'),
 ('Esther', 'Crawford'),
 ('Pauline', 'Henry'),
 ('Emma', 'Boyd'),
 ('Juanita', 'Mason'),
 ('Anita', 'Morales'),
 ('Rhonda', 'Kennedy'),
 ('Hazel', 'Warren'),
 ('Amber', 'Dixon'),
 ('Eva', 'Ramos'),
 ('Debbie', 'Reyes'),
 ('April', 'Burns'),
 ('Leslie', 'Gordon'),
 ('Clara', 'Shaw'),
 ('Lucille', 'Holmes'),
 ('Jamie', 'Rice'),
 ('Joanne', 'Robertson'),
 ('Eleanor', 'Hunt'),
 ('Valerie', 'Black'),
 ('Danielle', 'Daniels'),
 ('Megan', 'Palmer'),
 ('Alicia', 'Mills'),
 ('Suzanne', 'Nichols'),
 ('Michele', 'Grant'),
 ('Gail', 'Knight'),
 ('Bertha', 'Ferguson'),
 ('Darlene', 'Rose'),
 ('Veronica', 'Stone'),
 ('Jill', 'Hawkins'),
 ('Erin', 'Dunn'),
 ('Geraldine', 'Perkins'),
 ('Lauren', 'Hudson'),
 ('Cathy', 'Spencer'),
 ('Joann', 'Gardner'),
 ('Lorraine', 'Stephens'),
 ('Lynn', 'Payne'),
 ('Sally', 'Pierce'),
 ('Regina', 'Berry'),
 ('Erica', 'Matthews'),
 ('Beatrice', 'Arnold'),
 ('Dolores', 'Wagner'),
 ('Bernice', 'Willis'),
 ('Audrey', 'Ray'),
 ('Yvonne', 'Watkins'),
 ('Annette', 'Olson'),
 ('June', 'Carroll'),
 ('Samantha', 'Duncan'),
 ('Marion', 'Snyder'),
 ('Dana', 'Hart'),
 ('Stacy', 'Cunningham'),
 ('Ana', 'Bradley'),
 ('Renee', 'Lane'),
 ('Ida', 'Andrews'),
 ('Vivian', 'Ruiz'),
 ('Roberta', 'Harper'),
 ('Holly', 'Fox'),
 ('Brittany', 'Riley'),
 ('Melanie', 'Armstrong'),
 ('Loretta', 'Carpenter'),
 ('Yolanda', 'Weaver'),
 ('Jeanette', 'Greene'),
 ('Laurie', 'Lawrence'),
 ('Katie', 'Elliott'),
 ('Kristen', 'Chavez'),
 ('Vanessa', 'Sims'),
 ('Alma', 'Austin'),
 ('Sue', 'Peters'),
 ('Elsie', 'Kelley'),
 ('Beth', 'Franklin'),
 ('Jeanne', 'Lawson'),
 ('Vicki', 'Fields'),
 ('Carla', 'Gutierrez'),
 ('Tara', 'Ryan'),
 ('Rosemary', 'Schmidt'),
 ('Eileen', 'Carr'),
 ('Terri', 'Vasquez'),
 ('Gertrude', 'Castillo'),
 ('Lucy', 'Wheeler'),
 ('Tonya', 'Chapman'),
 ('Ella', 'Oliver'),
 ('Stacey', 'Montgomery'),
 ('Wilma', 'Richards'),
 ('Gina', 'Williamson'),
 ('Kristin', 'Johnston'),
 ('Jessie', 'Banks'),
 ('Natalie', 'Meyer'),
 ('Agnes', 'Bishop'),
 ('Vera', 'Mccoy'),
 ('Willie', 'Howell'),
 ('Charlene', 'Alvarez'),
 ('Bessie', 'Morrison'),
 ('Delores', 'Hansen'),
 ('Melinda', 'Fernandez'),
 ('Pearl', 'Garza'),
 ('Arlene', 'Harvey'),
 ('Maureen', 'Little'),
 ('Colleen', 'Burton'),
 ('Allison', 'Stanley'),
 ('Tamara', 'Nguyen'),
 ('Joy', 'George'),
 ('Georgia', 'Jacobs'),
 ('Constance', 'Reid'),
 ('Lillie', 'Kim'),
 ('Claudia', 'Fuller'),
 ('Jackie', 'Lynch'),
 ('Marcia', 'Dean'),
 ('Tanya', 'Gilbert'),
 ('Nellie', 'Garrett'),
 ('Minnie', 'Romero'),
 ('Marlene', 'Welch'),
 ('Heidi', 'Larson'),
 ('Glenda', 'Frazier'),
 ('Lydia', 'Burke'),
 ('Viola', 'Hanson'),
 ('Courtney', 'Day'),
 ('Marian', 'Mendoza'),
 ('Stella', 'Moreno'),
 ('Caroline', 'Bowman'),
 ('Dora', 'Medina'),
 ('Jo', 'Fowler'),
 ('Vickie', 'Brewer'),
 ('Mattie', 'Hoffman'),
 ('Terry', 'Carlson'),
 ('Maxine', 'Silva'),
 ('Irma', 'Pearson'),
 ('Mabel', 'Holland'),
 ('Marsha', 'Douglas'),
 ('Myrtle', 'Fleming'),
 ('Lena', 'Jensen'),
 ('Christy', 'Vargas'),
 ('Deanna', 'Byrd'),
 ('Patsy', 'Davidson'),
 ('Hilda', 'Hopkins'),
 ('Gwendolyn', 'May'),
 ('Jennie', 'Terry'),
 ('Nora', 'Herrera'),
 ('Margie', 'Wade'),
 ('Nina', 'Soto'),
 ('Cassandra', 'Walters'),
 ('Leah', 'Curtis'),
 ('Penny', 'Neal'),
 ('Kay', 'Caldwell'),
 ('Priscilla', 'Lowe'),
 ('Naomi', 'Jennings'),
 ('Carole', 'Barnett'),
 ('Brandy', 'Graves'),
 ('Olga', 'Jimenez'),
 ('Billie', 'Horton'),
 ('Dianne', 'Shelton'),
 ('Tracey', 'Barrett'),
 ('Leona', 'Obrien'),
 ('Jenny', 'Castro'),
 ('Felicia', 'Sutton'),
 ('Sonia', 'Gregory'),
 ('Miriam', 'Mckinney'),
 ('Velma', 'Lucas'),
 ('Becky', 'Miles'),
 ('Bobbie', 'Craig'),
 ('Violet', 'Rodriquez'),
 ('Kristina', 'Chambers'),
 ('Toni', 'Holt'),
 ('Misty', 'Lambert'),
 ('Mae', 'Fletcher'),
 ('Shelly', 'Watts'),
 ('Daisy', 'Bates'),
 ('Ramona', 'Hale'),
 ('Sherri', 'Rhodes'),
 ('Erika', 'Pena'),
 ('James', 'Gannon'),
 ('John', 'Farnsworth'),
 ('Robert', 'Baughman'),
 ('Michael', 'Silverman'),
 ('William', 'Satterfield'),
 ('David', 'Royal'),
 ('Richard', 'Mccrary'),
 ('Charles', 'Kowalski'),
 ('Joseph', 'Joy'),
 ('Thomas', 'Grigsby'),
 ('Christopher', 'Greco'),
 ('Daniel', 'Cabral'),
 ('Paul', 'Trout'),
 ('Mark', 'Rinehart'),
 ('Donald', 'Mahon'),
 ('George', 'Linton'),
 ('Kenneth', 'Gooden'),
 ('Steven', 'Curley'),
 ('Edward', 'Baugh'),
 ('Brian', 'Wyman'),
 ('Ronald', 'Weiner'),
 ('Anthony', 'Schwab'),
 ('Kevin', 'Schuler'),
 ('Jason', 'Morrissey'),
 ('Matthew', 'Mahan'),
 ('Gary', 'Coy'),
 ('Timothy', 'Bunn'),
 ('Jose', 'Andrew'),
 ('Larry', 'Thrasher'),
 ('Jeffrey', 'Spear'),
 ('Frank', 'Waggoner'),
 ('Scott', 'Shelley'),
 ('Eric', 'Robert'),
 ('Stephen', 'Qualls'),
 ('Andrew', 'Purdy'),
 ('Raymond', 'Mcwhorter'),
 ('Gregory', 'Mauldin'),
 ('Joshua', 'Mark'),
 ('Jerry', 'Jordon'),
 ('Dennis', 'Gilman'),
 ('Walter', 'Perryman'),
 ('Patrick', 'Newsom'),
 ('Peter', 'Menard'),
 ('Harold', 'Martino'),
 ('Douglas', 'Graf'),
 ('Henry', 'Billingsley'),
 ('Carl', 'Artis'),
 ('Arthur', 'Simpkins'),
 ('Ryan', 'Salisbury'),
 ('Roger', 'Quintanilla'),
 ('Joe', 'Gilliland'),
 ('Juan', 'Fraley'),
 ('Jack', 'Foust'),
 ('Albert', 'Crouse'),
 ('Jonathan', 'Scarborough'),
 ('Justin', 'Ngo'),
 ('Terry', 'Grissom'),
 ('Gerald', 'Fultz'),
 ('Keith', 'Rico'),
 ('Samuel', 'Marlow'),
 ('Willie', 'Markham'),
 ('Ralph', 'Madrigal'),
 ('Lawrence', 'Lawton'),
 ('Nicholas', 'Barfield'),
 ('Roy', 'Whiting'),
 ('Benjamin', 'Varney'),
 ('Bruce', 'Schwarz'),
 ('Brandon', 'Huey'),
 ('Adam', 'Gooch'),
 ('Harry', 'Arce'),
 ('Fred', 'Wheat'),
 ('Wayne', 'Truong'),
 ('Billy', 'Poulin'),
 ('Steve', 'Mackenzie'),
 ('Louis', 'Leone'),
 ('Jeremy', 'Hurtado'),
 ('Aaron', 'Selby'),
 ('Randy', 'Gaither'),
 ('Howard', 'Fortner'),
 ('Eugene', 'Culpepper'),
 ('Carlos', 'Coughlin'),
 ('Russell', 'Brinson'),
 ('Bobby', 'Boudreau'),
 ('Victor', 'Barkley'),
 ('Martin', 'Bales'),
 ('Ernest', 'Stepp'),
 ('Phillip', 'Holm'),
 ('Todd', 'Tan'),
 ('Jesse', 'Schilling'),
 ('Craig', 'Morrell'),
 ('Alan', 'Kahn'),
 ('Shawn', 'Heaton'),
 ('Clarence', 'Gamez'),
 ('Sean', 'Douglass'),
 ('Philip', 'Causey'),
 ('Chris', 'Brothers'),
 ('Johnny', 'Turpin'),
 ('Earl', 'Shanks'),
 ('Jimmy', 'Schrader'),
 ('Antonio', 'Meek'),
 ('Danny', 'Isom'),
 ('Bryan', 'Hardison'),
 ('Tony', 'Carranza'),
 ('Luis', 'Yanez'),
 ('Mike', 'Way'),
 ('Stanley', 'Scroggins'),
 ('Leonard', 'Schofield'),
 ('Nathan', 'Runyon'),
 ('Dale', 'Ratcliff'),
 ('Manuel', 'Murrell'),
 ('Rodney', 'Moeller'),
 ('Curtis', 'Irby'),
 ('Norman', 'Currier'),
 ('Allen', 'Butterfield'),
 ('Marvin', 'Yee'),
 ('Vincent', 'Ralston'),
 ('Glenn', 'Pullen'),
 ('Jeffery', 'Pinson'),
 ('Travis', 'Estep'),
 ('Jeff', 'East'),
 ('Chad', 'Carbone'),
 ('Jacob', 'Lance'),
 ('Lee', 'Hawks'),
 ('Melvin', 'Ellington'),
 ('Alfred', 'Casillas'),
 ('Kyle', 'Spurlock'),
 ('Francis', 'Sikes'),
 ('Bradley', 'Motley'),
 ('Jesus', 'Mccartney'),
 ('Herbert', 'Kruger'),
 ('Frederick', 'Isbell'),
 ('Ray', 'Houle'),
 ('Joel', 'Francisco'),
 ('Edwin', 'Burk'),
 ('Don', 'Bone'),
 ('Eddie', 'Tomlin'),
 ('Ricky', 'Shelby'),
 ('Troy', 'Quigley'),
 ('Randall', 'Neumann'),
 ('Barry', 'Lovelace'),
 ('Alexander', 'Fennell'),
 ('Bernard', 'Colby'),
 ('Mario', 'Cheatham'),
 ('Leroy', 'Bustamante'),
 ('Francisco', 'Skidmore'),
 ('Marcus', 'Hidalgo'),
 ('Micheal', 'Forman'),
 ('Theodore', 'Culp'),
 ('Clifford', 'Bowens'),
 ('Miguel', 'Betancourt'),
 ('Oscar', 'Aquino'),
 ('Jay', 'Robb'),
 ('Jim', 'Rea'),
 ('Tom', 'Milner'),
 ('Calvin', 'Martel'),
 ('Alex', 'Gresham'),
 ('Jon', 'Wiles'),
 ('Ronnie', 'Ricketts'),
 ('Bill', 'Gavin'),
 ('Lloyd', 'Dowd'),
 ('Tommy', 'Collazo'),
 ('Leon', 'Bostic'),
 ('Derek', 'Blakely'),
 ('Warren', 'Sherrod'),
 ('Darrell', 'Power'),
 ('Jerome', 'Kenyon'),
 ('Floyd', 'Gandy'),
 ('Leo', 'Ebert'),
 ('Alvin', 'Deloach'),
 ('Tim', 'Cary'),
 ('Wesley', 'Bull'),
 ('Gordon', 'Allard'),
 ('Dean', 'Sauer'),
 ('Greg', 'Robins'),
 ('Jorge', 'Olivares'),
 ('Dustin', 'Gillette'),
 ('Pedro', 'Chestnut'),
 ('Derrick', 'Bourque'),
 ('Dan', 'Paine'),
 ('Lewis', 'Lyman'),
 ('Zachary', 'Hite'),
 ('Corey', 'Hauser'),
 ('Herman', 'Devore'),
 ('Maurice', 'Crawley'),
 ('Vernon', 'Chapa'),
 ('Roberto', 'Vu'),
 ('Clyde', 'Tobias'),
 ('Glen', 'Talbert'),
 ('Hector', 'Poindexter'),
 ('Shane', 'Millard'),
 ('Ricardo', 'Meador'),
 ('Sam', 'Mcduffie'),
 ('Rick', 'Mattox'),
 ('Lester', 'Kraus'),
 ('Brent', 'Harkins'),
 ('Ramon', 'Choate'),
 ('Charlie', 'Bess'),
 ('Tyler', 'Wren'),
 ('Gilbert', 'Sledge'),
 ('Gene', 'Sanborn'),
 ('Marc', 'Outlaw'),
 ('Reginald', 'Kinder'),
 ('Ruben', 'Geary'),
 ('Brett', 'Cornwell'),
 ('Angel', 'Barclay'),
 ('Nathaniel', 'Adam'),
 ('Rafael', 'Abney'),
 ('Leslie', 'Seward'),
 ('Edgar', 'Rhoads'),
 ('Milton', 'Howland'),
 ('Raul', 'Fortier'),
 ('Ben', 'Easter'),
 ('Chester', 'Benner'),
 ('Cecil', 'Vines'),
 ('Duane', 'Tubbs'),
 ('Franklin', 'Troutman'),
 ('Andre', 'Rapp'),
 ('Elmer', 'Noe'),
 ('Brad', 'Mccurdy'),
 ('Gabriel', 'Harder'),
 ('Ron', 'Deluca'),
 ('Mitchell', 'Westmoreland'),
 ('Roland', 'South'),
 ('Arnold', 'Havens'),
 ('Harvey', 'Guajardo'),
 ('Adrian', 'Clary'),
 ('Karl', 'Seal'),
 ('Cory', 'Meehan'),
 ('Claude', 'Herzog'),
 ('Erik', 'Guillen'),
 ('Darryl', 'Ashcraft'),
 ('Jamie', 'Waugh'),
 ('Neil', 'Renner'),
 ('Jessie', 'Milam'),
 ('Christian', 'Jung'),
 ('Javier', 'Elrod'),
 ('Fernando', 'Churchill'),
 ('Clinton', 'Buford'),
 ('Ted', 'Breaux'),
 ('Mathew', 'Bolin'),
 ('Tyrone', 'Asher'),
 ('Darren', 'Windham'),
 ('Lonnie', 'Tirado'),
 ('Lance', 'Pemberton'),
 ('Cody', 'Nolen'),
 ('Julio', 'Noland'),
 ('Kelly', 'Knott'),
 ('Kurt', 'Emmons'),
 ('Allan', 'Cornish'),
 ('Nelson', 'Christenson'),
 ('Guy', 'Brownlee'),
 ('Clayton', 'Barbee'),
 ('Hugh', 'Waldrop'),
 ('Max', 'Pitt'),
 ('Dwayne', 'Olvera'),
 ('Dwight', 'Lombardi'),
 ('Armando', 'Gruber'),
 ('Felix', 'Gaffney'),
 ('Jimmie', 'Eggleston'),
 ('Everett', 'Banda'),
 ('Jordan', 'Archuleta'),
 ('Ian', 'Still'),
 ('Wallace', 'Slone'),
 ('Ken', 'Prewitt'),
 ('Bob', 'Pfeiffer'),
 ('Jaime', 'Nettles'),
 ('Casey', 'Mena'),
 ('Alfredo', 'Mcadams'),
 ('Alberto', 'Henning'),
 ('Dave', 'Gardiner'),
 ('Ivan', 'Cromwell'),
 ('Johnnie', 'Chisholm'),
 ('Sidney', 'Burleson'),
 ('Byron', 'Box'),
 ('Julian', 'Vest'),
 ('Isaac', 'Oglesby'),
 ('Morris', 'Mccarter'),
 ('Clifton', 'Malcolm'),
 ('Willard', 'Lumpkin'),
 ('Daryl', 'Larue'),
 ('Ross', 'Grey'),
 ('Virgil', 'Wofford'),
 ('Andy', 'Vanhorn'),
 ('Marshall', 'Thorn'),
 ('Salvador', 'Teel'),
 ('Perry', 'Swafford'),
 ('Kirk', 'Stclair'),
 ('Sergio', 'Stanfield'),
 ('Marion', 'Ocampo'),
 ('Tracy', 'Herrmann'),
 ('Seth', 'Hannon'),
 ('Kent', 'Arsenault'),
 ('Terrance', 'Roush'),
 ('Rene', 'Mcalister'),
 ('Eduardo', 'Hiatt'),
 ('Terrence', 'Gunderson'),
 ('Enrique', 'Forsythe'),
 ('Freddie', 'Duggan'),
 ('Wade', 'Delvalle'),
 ('Austin', 'Cintron')]

#### Example: Using `ALL`
The `ALL` operator is used to compare a value to all values in a list or subquery.

Find customers who have made a payment greater than **all** payments made by customer with `customer_id` = 1

In [42]:
%%sql
SELECT DISTINCT customer_id
FROM payment
WHERE amount > ALL (
    SELECT amount
    FROM payment
    WHERE customer_id = 1
    )
ORDER BY customer_id;

 * postgresql://postgres:***@localhost:5432/dvdrental
101 rows affected.

[(2,),
 (3,),
 (12,),
 (13,),
 (21,),
 (29,),
 (33,),
 (45,),
 (49,),
 (50,),
 (54,),
 (76,),
 (78,),
 (86,),
 (87,),
 (114,),
 (116,),
 (127,),
 (129,),
 (136,),
 (140,),
 (148,),
 (149,),
 (163,),
 (168,),
 (178,),
 (187,),
 (195,),
 (196,),
 (200,),
 (203,),
 (204,),
 (206,),
 (212,),
 (220,),
 (221,),
 (232,),
 (237,),
 (245,),
 (259,),
 (260,),
 (272,),
 (277,),
 (292,),
 (297,),
 (300,),
 (301,),
 (307,),
 (310,),
 (331,),
 (333,),
 (336,),
 (345,),
 (347,),
 (362,),
 (364,),
 (367,),
 (371,),
 (372,),
 (377,),
 (380,),
 (388,),
 (404,),
 (410,),
 (414,),
 (418,),
 (420,),
 (426,),
 (434,),
 (441,),
 (448,),
 (457,),
 (459,),
 (460,),
 (468,),
 (469,),
 (470,),
 (477,),
 (481,),
 (511,),
 (516,),
 (520,),
 (526,),
 (529,),
 (531,),
 (542,),
 (544,),
 (545,),
 (550,),
 (558,),
 (561,),
 (562,),
 (564,),
 (565,),
 (567,),
 (571,),
 (572,),
 (573,),
 (591,),
 (592,),
 (595,)]

In [43]:
%%sql
SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM payment
    WHERE amount > ALL (
        SELECT amount
        FROM payment
        WHERE customer_id = 1
    )
);

 * postgresql://postgres:***@localhost:5432/dvdrental
101 rows affected.

[('Patricia', 'Johnson'),
 ('Linda', 'Williams'),
 ('Nancy', 'Thomas'),
 ('Karen', 'Jackson'),
 ('Michelle', 'Clark'),
 ('Angela', 'Hernandez'),
 ('Anna', 'Hill'),
 ('Janet', 'Phillips'),
 ('Joyce', 'Edwards'),
 ('Diane', 'Collins'),
 ('Teresa', 'Rogers'),
 ('Irene', 'Price'),
 ('Lori', 'Wood'),
 ('Jacqueline', 'Long'),
 ('Wanda', 'Patterson'),
 ('Grace', 'Ellis'),
 ('Victoria', 'Gibson'),
 ('Elaine', 'Stevens'),
 ('Carrie', 'Porter'),
 ('Anita', 'Morales'),
 ('Eva', 'Ramos'),
 ('Eleanor', 'Hunt'),
 ('Valerie', 'Black'),
 ('Cathy', 'Spencer'),
 ('Regina', 'Berry'),
 ('Marion', 'Snyder'),
 ('Brittany', 'Riley'),
 ('Vanessa', 'Sims'),
 ('Alma', 'Austin'),
 ('Jeanne', 'Lawson'),
 ('Tara', 'Ryan'),
 ('Rosemary', 'Schmidt'),
 ('Terri', 'Vasquez'),
 ('Wilma', 'Richards'),
 ('Charlene', 'Alvarez'),
 ('Bessie', 'Morrison'),
 ('Constance', 'Reid'),
 ('Tanya', 'Gilbert'),
 ('Courtney', 'Day'),
 ('Lena', 'Jensen'),
 ('Christy', 'Vargas'),
 ('Kay', 'Caldwell'),
 ('Olga', 'Jimenez'),
 ('Misty', 'Lambert'),
 ('Sherri', 'Rhodes'),
 ('John', 'Farnsworth'),
 ('Robert', 'Baughman'),
 ('Joseph', 'Joy'),
 ('Daniel', 'Cabral'),
 ('Eric', 'Robert'),
 ('Andrew', 'Purdy'),
 ('Joshua', 'Mark'),
 ('Carl', 'Artis'),
 ('Ryan', 'Salisbury'),
 ('Nicholas', 'Barfield'),
 ('Benjamin', 'Varney'),
 ('Adam', 'Gooch'),
 ('Billy', 'Poulin'),
 ('Steve', 'Mackenzie'),
 ('Howard', 'Fortner'),
 ('Russell', 'Brinson'),
 ('Craig', 'Morrell'),
 ('Stanley', 'Scroggins'),
 ('Curtis', 'Irby'),
 ('Vincent', 'Ralston'),
 ('Jeff', 'East'),
 ('Jacob', 'Lance'),
 ('Bradley', 'Motley'),
 ('Eddie', 'Tomlin'),
 ('Mario', 'Cheatham'),
 ('Miguel', 'Betancourt'),
 ('Bill', 'Gavin'),
 ('Tommy', 'Collazo'),
 ('Leon', 'Bostic'),
 ('Tim', 'Cary'),
 ('Wesley', 'Bull'),
 ('Gordon', 'Allard'),
 ('Dan', 'Paine'),
 ('Herman', 'Devore'),
 ('Chester', 'Benner'),
 ('Elmer', 'Noe'),
 ('Mitchell', 'Westmoreland'),
 ('Karl', 'Seal'),
 ('Erik', 'Guillen'),
 ('Jamie', 'Waugh'),
 ('Lonnie', 'Tirado'),
 ('Cody', 'Nolen'),
 ('Julio', 'Noland'),
 ('Guy', 'Brownlee'),
 ('Jimmie', 'Eggleston'),
 ('Ian', 'Still'),
 ('Wallace', 'Slone'),
 ('Bob', 'Pfeiffer'),
 ('Jaime', 'Nettles'),
 ('Alfredo', 'Mcadams'),
 ('Johnnie', 'Chisholm'),
 ('Sidney', 'Burleson'),
 ('Byron', 'Box'),
 ('Kent', 'Arsenault'),
 ('Terrance', 'Roush'),
 ('Terrence', 'Gunderson')]

We can also achive the same result by filter the amount by the maximum amount paid by `customer_id` = 1

In [26]:
%%sql
SELECT first_name, last_name
FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM payment
    WHERE amount > (
        SELECT MAX(amount)
        FROM payment
        WHERE customer_id = 1
    )
);

 * postgresql://postgres:***@localhost:5432/dvdrental
101 rows affected.

[('Patricia', 'Johnson'),
 ('Linda', 'Williams'),
 ('Nancy', 'Thomas'),
 ('Karen', 'Jackson'),
 ('Michelle', 'Clark'),
 ('Angela', 'Hernandez'),
 ('Anna', 'Hill'),
 ('Janet', 'Phillips'),
 ('Joyce', 'Edwards'),
 ('Diane', 'Collins'),
 ('Teresa', 'Rogers'),
 ('Irene', 'Price'),
 ('Lori', 'Wood'),
 ('Jacqueline', 'Long'),
 ('Wanda', 'Patterson'),
 ('Grace', 'Ellis'),
 ('Victoria', 'Gibson'),
 ('Elaine', 'Stevens'),
 ('Carrie', 'Porter'),
 ('Anita', 'Morales'),
 ('Eva', 'Ramos'),
 ('Eleanor', 'Hunt'),
 ('Valerie', 'Black'),
 ('Cathy', 'Spencer'),
 ('Regina', 'Berry'),
 ('Marion', 'Snyder'),
 ('Brittany', 'Riley'),
 ('Vanessa', 'Sims'),
 ('Alma', 'Austin'),
 ('Jeanne', 'Lawson'),
 ('Tara', 'Ryan'),
 ('Rosemary', 'Schmidt'),
 ('Terri', 'Vasquez'),
 ('Wilma', 'Richards'),
 ('Charlene', 'Alvarez'),
 ('Bessie', 'Morrison'),
 ('Constance', 'Reid'),
 ('Tanya', 'Gilbert'),
 ('Courtney', 'Day'),
 ('Lena', 'Jensen'),
 ('Christy', 'Vargas'),
 ('Kay', 'Caldwell'),
 ('Olga', 'Jimenez'),
 ('Misty', 'Lambert'),
 ('Sherri', 'Rhodes'),
 ('John', 'Farnsworth'),
 ('Robert', 'Baughman'),
 ('Joseph', 'Joy'),
 ('Daniel', 'Cabral'),
 ('Eric', 'Robert'),
 ('Andrew', 'Purdy'),
 ('Joshua', 'Mark'),
 ('Carl', 'Artis'),
 ('Ryan', 'Salisbury'),
 ('Nicholas', 'Barfield'),
 ('Benjamin', 'Varney'),
 ('Adam', 'Gooch'),
 ('Billy', 'Poulin'),
 ('Steve', 'Mackenzie'),
 ('Howard', 'Fortner'),
 ('Russell', 'Brinson'),
 ('Craig', 'Morrell'),
 ('Stanley', 'Scroggins'),
 ('Curtis', 'Irby'),
 ('Vincent', 'Ralston'),
 ('Jeff', 'East'),
 ('Jacob', 'Lance'),
 ('Bradley', 'Motley'),
 ('Eddie', 'Tomlin'),
 ('Mario', 'Cheatham'),
 ('Miguel', 'Betancourt'),
 ('Bill', 'Gavin'),
 ('Tommy', 'Collazo'),
 ('Leon', 'Bostic'),
 ('Tim', 'Cary'),
 ('Wesley', 'Bull'),
 ('Gordon', 'Allard'),
 ('Dan', 'Paine'),
 ('Herman', 'Devore'),
 ('Chester', 'Benner'),
 ('Elmer', 'Noe'),
 ('Mitchell', 'Westmoreland'),
 ('Karl', 'Seal'),
 ('Erik', 'Guillen'),
 ('Jamie', 'Waugh'),
 ('Lonnie', 'Tirado'),
 ('Cody', 'Nolen'),
 ('Julio', 'Noland'),
 ('Guy', 'Brownlee'),
 ('Jimmie', 'Eggleston'),
 ('Ian', 'Still'),
 ('Wallace', 'Slone'),
 ('Bob', 'Pfeiffer'),
 ('Jaime', 'Nettles'),
 ('Alfredo', 'Mcadams'),
 ('Johnnie', 'Chisholm'),
 ('Sidney', 'Burleson'),
 ('Byron', 'Box'),
 ('Kent', 'Arsenault'),
 ('Terrance', 'Roush'),
 ('Terrence', 'Gunderson')]



### Correlated Subqueries
Correlated subqueries refer to columns in the outer query and are evaluated once for each row processed by the outer query.

#### Example: Find payments where the amount is greater than the average payment amount for the same customer.

In [63]:
%%timeit
%%sql
SELECT payment_id, customer_id, amount, payment_date
FROM payment p1
WHERE amount > (
    SELECT AVG(amount)
    FROM payment p2
    WHERE p2.customer_id = p1.customer_id
);

 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.
69.7 ms Â± 1.41 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

The subquery is correlated because it references the `customer_id` from the outer query's payment table.

You can also rewrite this subquerries as join

In [28]:
%%sql
SELECT p1.payment_id, p1.customer_id, p1.amount, p1.payment_date
FROM payment p1
JOIN (
    SELECT customer_id, AVG(amount) AS avg_amount
    FROM payment
    GROUP BY customer_id
) p2 ON p1.customer_id = p2.customer_id
WHERE p1.amount > p2.avg_amount;

 * postgresql://postgres:***@localhost:5432/dvdrental
7213 rows affected.

[(17503, 341, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17505, 341, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17507, 341, Decimal('7.99'), datetime.datetime(2007, 2, 20, 17, 31, 48, 996577)),
 (17508, 341, Decimal('5.99'), datetime.datetime(2007, 2, 21, 12, 33, 49, 996577)),
 (17509, 342, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 58, 17, 996577)),
 (17510, 342, Decimal('5.99'), datetime.datetime(2007, 2, 20, 2, 11, 44, 996577)),
 (17512, 343, Decimal('4.99'), datetime.datetime(2007, 2, 16, 0, 10, 50, 996577)),
 (17513, 343, Decimal('6.99'), datetime.datetime(2007, 2, 16, 1, 15, 33, 996577)),
 (17516, 343, Decimal('6.99'), datetime.datetime(2007, 2, 18, 18, 26, 38, 996577)),
 (17517, 343, Decimal('8.99'), datetime.datetime(2007, 2, 20, 7, 3, 29, 996577)),
 (17520, 344, Decimal('4.99'), datetime.datetime(2007, 2, 15, 19, 36, 27, 996577)),
 (17526, 346, Decimal('5.99'), datetime.datetime(2007, 2, 17, 9, 35, 32, 996577)),
 (17529, 347, Decimal('8.99'), datetime.datetime(2007, 2, 16, 12, 40, 18, 996577)),
 (17531, 347, Decimal('4.99'), datetime.datetime(2007, 2, 20, 10, 16, 26, 996577)),
 (17532, 347, Decimal('8.99'), datetime.datetime(2007, 2, 20, 14, 33, 8, 996577)),
 (17533, 347, Decimal('7.99'), datetime.datetime(2007, 2, 21, 7, 33, 16, 996577)),
 (17535, 348, Decimal('8.99'), datetime.datetime(2007, 2, 17, 12, 47, 26, 996577)),
 (17539, 349, Decimal('6.99'), datetime.datetime(2007, 2, 20, 7, 24, 16, 996577)),
 (17540, 349, Decimal('8.99'), datetime.datetime(2007, 2, 20, 12, 27, 47, 996577)),
 (17541, 350, Decimal('3.99'), datetime.datetime(2007, 2, 17, 10, 24, 35, 996577)),
 (17545, 351, Decimal('5.99'), datetime.datetime(2007, 2, 16, 18, 33, 16, 996577)),
 (17549, 352, Decimal('4.99'), datetime.datetime(2007, 2, 16, 7, 48, 59, 996577)),
 (17550, 352, Decimal('4.99'), datetime.datetime(2007, 2, 16, 9, 36, 54, 996577)),
 (17551, 352, Decimal('4.99'), datetime.datetime(2007, 2, 16, 17, 40, 11, 996577)),
 (17552, 352, Decimal('4.99'), datetime.datetime(2007, 2, 21, 8, 6, 19, 996577)),
 (17554, 353, Decimal('7.99'), datetime.datetime(2007, 2, 17, 5, 16, 57, 996577)),
 (17555, 353, Decimal('6.99'), datetime.datetime(2007, 2, 21, 1, 7, 57, 996577)),
 (17557, 354, Decimal('4.99'), datetime.datetime(2007, 2, 18, 4, 59, 55, 996577)),
 (17558, 354, Decimal('6.99'), datetime.datetime(2007, 2, 19, 16, 20, 40, 996577)),
 (17564, 356, Decimal('4.99'), datetime.datetime(2007, 2, 18, 16, 38, 43, 996577)),
 (17565, 357, Decimal('5.99'), datetime.datetime(2007, 2, 15, 3, 39, 45, 996577)),
 (17568, 357, Decimal('6.99'), datetime.datetime(2007, 2, 17, 21, 26, 30, 996577)),
 (17571, 358, Decimal('5.99'), datetime.datetime(2007, 2, 17, 18, 28, 51, 996577)),
 (17575, 359, Decimal('4.99'), datetime.datetime(2007, 2, 15, 9, 53, 32, 996577)),
 (17578, 359, Decimal('4.99'), datetime.datetime(2007, 2, 19, 14, 11, 46, 996577)),
 (17580, 360, Decimal('6.99'), datetime.datetime(2007, 2, 18, 14, 53, 11, 996577)),
 (17582, 360, Decimal('6.99'), datetime.datetime(2007, 2, 19, 16, 47, 59, 996577)),
 (17583, 361, Decimal('4.99'), datetime.datetime(2007, 2, 18, 11, 21, 51, 996577)),
 (17599, 364, Decimal('4.99'), datetime.datetime(2007, 2, 19, 5, 19, 58, 996577)),
 (17600, 364, Decimal('4.99'), datetime.datetime(2007, 2, 19, 21, 43, 41, 996577)),
 (17603, 365, Decimal('6.99'), datetime.datetime(2007, 2, 16, 2, 36, 42, 996577)),
 (17604, 365, Decimal('4.99'), datetime.datetime(2007, 2, 17, 8, 50, 39, 996577)),
 (17611, 368, Decimal('9.99'), datetime.datetime(2007, 2, 15, 21, 21, 56, 996577)),
 (17612, 368, Decimal('4.99'), datetime.datetime(2007, 2, 18, 23, 49, 15, 996577)),
 (17613, 368, Decimal('4.99'), datetime.datetime(2007, 2, 19, 11, 45, 47, 996577)),
 (17614, 368, Decimal('4.99'), datetime.datetime(2007, 2, 19, 14, 49, 6, 996577)),
 (17615, 368, Decimal('4.99'), datetime.datetime(2007, 2, 21, 4, 1, 30, 996577)),
 (17617, 370, Decimal('6.99'), datetime.datetime(2007, 2, 14, 23, 33, 58, 996577)),
 (17620, 371, Decimal('6.99'), datetime.datetime(2007, 2, 16, 2, 0, 5, 996577)),
 (17621, 371, Decimal('5.99'), datetime.datetime(2007, 2, 16, 9, 33, 13, 996577)),
 (17626, 372, Decimal('4.99'), datetime.datetime(2007, 2, 20, 5, 36, 20, 996577)),
 (17628, 373, Decimal('6.99'), datetime.datetime(2007, 2, 15, 19, 23, 21, 996577)),
 (17632, 374, Decimal('4.99'), datetime.datetime(2007, 2, 18, 20, 1, 20, 996577)),
 (17635, 375, Decimal('5.99'), datetime.datetime(2007, 2, 15, 20, 26, 33, 996577)),
 (17636, 375, Decimal('4.99'), datetime.datetime(2007, 2, 18, 2, 40, 59, 996577)),
 (17639, 377, Decimal('3.99'), datetime.datetime(2007, 2, 19, 1, 35, 58, 996577)),
 (17643, 377, Decimal('4.99'), datetime.datetime(2007, 2, 21, 18, 47, 26, 996577)),
 (17644, 378, Decimal('4.99'), datetime.datetime(2007, 2, 16, 6, 17, 16, 996577)),
 (17645, 378, Decimal('5.99'), datetime.datetime(2007, 2, 16, 8, 42, 1, 996577)),
 (17646, 378, Decimal('7.99'), datetime.datetime(2007, 2, 17, 19, 42, 10, 996577)),
 (17647, 378, Decimal('4.99'), datetime.datetime(2007, 2, 19, 12, 51, 35, 996577)),
 (17648, 379, Decimal('8.99'), datetime.datetime(2007, 2, 15, 13, 48, 32, 996577)),
 (17649, 379, Decimal('5.99'), datetime.datetime(2007, 2, 18, 7, 25, 11, 996577)),
 (17651, 380, Decimal('3.99'), datetime.datetime(2007, 2, 17, 0, 31, 48, 996577)),
 (17653, 380, Decimal('3.99'), datetime.datetime(2007, 2, 17, 11, 4, 24, 996577)),
 (17655, 380, Decimal('4.99'), datetime.datetime(2007, 2, 18, 18, 34, 31, 996577)),
 (17658, 380, Decimal('4.99'), datetime.datetime(2007, 2, 21, 2, 27, 39, 996577)),
 (17659, 381, Decimal('3.99'), datetime.datetime(2007, 2, 15, 14, 59, 34, 996577)),
 (17662, 381, Decimal('4.99'), datetime.datetime(2007, 2, 18, 15, 43, 8, 996577)),
 (17665, 382, Decimal('4.99'), datetime.datetime(2007, 2, 18, 18, 52, 18, 996577)),
 (17668, 382, Decimal('4.99'), datetime.datetime(2007, 2, 20, 17, 0, 24, 996577)),
 (17669, 383, Decimal('7.99'), datetime.datetime(2007, 2, 16, 20, 50, 43, 996577)),
 (17673, 383, Decimal('7.99'), datetime.datetime(2007, 2, 19, 5, 41, 38, 996577)),
 (17677, 384, Decimal('7.99'), datetime.datetime(2007, 2, 18, 13, 26, 15, 996577)),
 (17678, 384, Decimal('5.99'), datetime.datetime(2007, 2, 18, 22, 12, 47, 996577)),
 (17679, 384, Decimal('3.99'), datetime.datetime(2007, 2, 20, 3, 35, 50, 996577)),
 (17680, 384, Decimal('9.99'), datetime.datetime(2007, 2, 20, 14, 24, 31, 996577)),
 (17681, 384, Decimal('4.99'), datetime.datetime(2007, 2, 20, 15, 17, 24, 996577)),
 (17685, 386, Decimal('3.99'), datetime.datetime(2007, 2, 16, 3, 19, 39, 996577)),
 (17687, 386, Decimal('5.99'), datetime.datetime(2007, 2, 16, 20, 1, 16, 996577)),
 (17694, 387, Decimal('5.99'), datetime.datetime(2007, 2, 20, 7, 3, 43, 996577)),
 (17695, 387, Decimal('4.99'), datetime.datetime(2007, 2, 21, 12, 19, 54, 996577)),
 (17696, 388, Decimal('6.99'), datetime.datetime(2007, 2, 15, 6, 28, 39, 996577)),
 (17698, 388, Decimal('5.99'), datetime.datetime(2007, 2, 19, 0, 20, 47, 996577)),
 (17699, 388, Decimal('4.99'), datetime.datetime(2007, 2, 19, 11, 36, 45, 996577)),
 (17700, 388, Decimal('7.99'), datetime.datetime(2007, 2, 20, 19, 40, 16, 996577)),
 (17701, 389, Decimal('4.99'), datetime.datetime(2007, 2, 16, 16, 19, 27, 996577)),
 (17702, 389, Decimal('4.99'), datetime.datetime(2007, 2, 17, 6, 27, 5, 996577)),
 (17704, 390, Decimal('5.99'), datetime.datetime(2007, 2, 15, 23, 39, 51, 996577)),
 (17707, 390, Decimal('7.99'), datetime.datetime(2007, 2, 18, 9, 9, 45, 996577)),
 (17708, 390, Decimal('5.99'), datetime.datetime(2007, 2, 20, 18, 53, 43, 996577)),
 (17714, 392, Decimal('6.99'), datetime.datetime(2007, 2, 15, 23, 6, 33, 996577)),
 (17717, 392, Decimal('4.99'), datetime.datetime(2007, 2, 20, 0, 29, 11, 996577)),
 (17718, 393, Decimal('6.99'), datetime.datetime(2007, 2, 16, 5, 10, 1, 996577)),
 (17721, 393, Decimal('4.99'), datetime.datetime(2007, 2, 18, 7, 52, 48, 996577)),
 (17723, 394, Decimal('4.99'), datetime.datetime(2007, 2, 15, 9, 31, 11, 996577)),
 (17727, 395, Decimal('4.99'), datetime.datetime(2007, 2, 20, 10, 20, 25, 996577)),
 (17729, 395, Decimal('6.99'), datetime.datetime(2007, 2, 21, 13, 6, 21, 996577)),
 (17731, 396, Decimal('4.99'), datetime.datetime(2007, 2, 15, 13, 56, 49, 996577)),
 (17732, 396, Decimal('6.99'), datetime.datetime(2007, 2, 15, 15, 26, 24, 996577)),
 (17733, 397, Decimal('5.99'), datetime.datetime(2007, 2, 16, 16, 36, 14, 996577)),
 (17736, 398, Decimal('6.99'), datetime.datetime(2007, 2, 17, 16, 3, 36, 996577)),
 (17737, 398, Decimal('9.99'), datetime.datetime(2007, 2, 20, 18, 24, 13, 996577)),
 (17739, 399, Decimal('5.99'), datetime.datetime(2007, 2, 20, 10, 46, 57, 996577)),
 (17742, 400, Decimal('6.99'), datetime.datetime(2007, 2, 17, 4, 34, 36, 996577)),
 (17743, 402, Decimal('4.99'), datetime.datetime(2007, 2, 14, 23, 53, 34, 996577)),
 (17744, 402, Decimal('4.99'), datetime.datetime(2007, 2, 18, 20, 29, 16, 996577)),
 (17746, 403, Decimal('4.99'), datetime.datetime(2007, 2, 15, 2, 3, 42, 996577)),
 (17747, 403, Decimal('8.99'), datetime.datetime(2007, 2, 15, 4, 6, 35, 996577)),
 (17749, 403, Decimal('4.99'), datetime.datetime(2007, 2, 20, 3, 10, 7, 996577)),
 (17750, 403, Decimal('6.99'), datetime.datetime(2007, 2, 20, 11, 19, 27, 996577)),
 (17751, 403, Decimal('5.99'), datetime.datetime(2007, 2, 21, 10, 7, 11, 996577)),
 (17753, 404, Decimal('4.99'), datetime.datetime(2007, 2, 16, 22, 8, 0, 996577)),
 (17754, 404, Decimal('4.99'), datetime.datetime(2007, 2, 19, 12, 58, 1, 996577)),
 (17756, 405, Decimal('4.99'), datetime.datetime(2007, 2, 15, 8, 51, 34, 996577)),
 (17758, 405, Decimal('5.99'), datetime.datetime(2007, 2, 17, 7, 3, 23, 996577)),
 (17759, 405, Decimal('3.99'), datetime.datetime(2007, 2, 19, 9, 6, 20, 996577)),
 (17760, 405, Decimal('4.99'), datetime.datetime(2007, 2, 21, 1, 21, 43, 996577)),
 (17761, 405, Decimal('5.99'), datetime.datetime(2007, 2, 21, 1, 54, 3, 996577)),
 (17762, 406, Decimal('4.99'), datetime.datetime(2007, 2, 17, 18, 26, 12, 996577)),
 (17763, 406, Decimal('3.99'), datetime.datetime(2007, 2, 17, 21, 19, 2, 996577)),
 (17767, 406, Decimal('7.99'), datetime.datetime(2007, 2, 20, 21, 32, 46, 996577)),
 (17768, 406, Decimal('4.99'), datetime.datetime(2007, 2, 21, 6, 15, 24, 996577)),
 (17771, 408, Decimal('4.99'), datetime.datetime(2007, 2, 18, 19, 31, 34, 996577)),
 (17774, 409, Decimal('5.99'), datetime.datetime(2007, 2, 15, 2, 14, 36, 996577)),
 (17775, 409, Decimal('8.99'), datetime.datetime(2007, 2, 18, 7, 14, 25, 996577)),
 (17778, 410, Decimal('4.99'), datetime.datetime(2007, 2, 18, 3, 49, 38, 996577)),
 (17779, 410, Decimal('5.99'), datetime.datetime(2007, 2, 18, 14, 39, 12, 996577)),
 (17781, 410, Decimal('4.99'), datetime.datetime(2007, 2, 21, 1, 41, 45, 996577)),
 (17786, 413, Decimal('5.99'), datetime.datetime(2007, 2, 17, 19, 29, 10, 996577)),
 (17787, 413, Decimal('4.99'), datetime.datetime(2007, 2, 19, 0, 52, 2, 996577)),
 (17788, 414, Decimal('4.99'), datetime.datetime(2007, 2, 18, 3, 22, 55, 996577)),
 (17789, 414, Decimal('9.99'), datetime.datetime(2007, 2, 19, 1, 38, 12, 996577)),
 (17790, 414, Decimal('5.99'), datetime.datetime(2007, 2, 21, 6, 51, 31, 996577)),
 (17791, 415, Decimal('4.99'), datetime.datetime(2007, 2, 17, 0, 30, 3, 996577)),
 (17794, 416, Decimal('4.99'), datetime.datetime(2007, 2, 15, 10, 55, 45, 996577)),
 (17803, 420, Decimal('3.99'), datetime.datetime(2007, 2, 19, 10, 10, 30, 996577)),
 (17806, 421, Decimal('4.99'), datetime.datetime(2007, 2, 16, 11, 8, 17, 996577)),
 (17808, 421, Decimal('4.99'), datetime.datetime(2007, 2, 20, 20, 31, 20, 996577)),
 (17810, 422, Decimal('4.99'), datetime.datetime(2007, 2, 17, 2, 54, 49, 996577)),
 (17812, 422, Decimal('5.99'), datetime.datetime(2007, 2, 19, 16, 46, 38, 996577)),
 (17815, 423, Decimal('6.99'), datetime.datetime(2007, 2, 19, 4, 35, 51, 996577)),
 (17816, 423, Decimal('6.99'), datetime.datetime(2007, 2, 19, 15, 33, 1, 996577)),
 (17817, 423, Decimal('8.99'), datetime.datetime(2007, 2, 20, 12, 49, 57, 996577)),
 (17818, 424, Decimal('4.99'), datetime.datetime(2007, 2, 20, 11, 7, 15, 996577)),
 (17819, 424, Decimal('6.99'), datetime.datetime(2007, 2, 20, 20, 0, 58, 996577)),
 (17821, 425, Decimal('6.99'), datetime.datetime(2007, 2, 21, 4, 4, 18, 996577)),
 (17822, 426, Decimal('6.99'), datetime.datetime(2007, 2, 16, 12, 38, 41, 996577)),
 (17823, 426, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 14, 25, 996577)),
 (17827, 427, Decimal('5.99'), datetime.datetime(2007, 2, 15, 10, 54, 47, 996577)),
 (17829, 427, Decimal('5.99'), datetime.datetime(2007, 2, 16, 7, 45, 33, 996577)),
 (17832, 428, Decimal('3.99'), datetime.datetime(2007, 2, 15, 2, 18, 29, 996577)),
 (17834, 428, Decimal('3.99'), datetime.datetime(2007, 2, 16, 4, 39, 39, 996577)),
 (17837, 429, Decimal('5.99'), datetime.datetime(2007, 2, 16, 17, 48, 50, 996577)),
 (17839, 429, Decimal('7.99'), datetime.datetime(2007, 2, 17, 3, 58, 25, 996577)),
 (17844, 430, Decimal('6.99'), datetime.datetime(2007, 2, 16, 16, 15, 3, 996577)),
 (17848, 431, Decimal('4.99'), datetime.datetime(2007, 2, 17, 17, 1, 30, 996577)),
 (17850, 431, Decimal('4.99'), datetime.datetime(2007, 2, 18, 5, 15, 55, 996577)),
 (17852, 431, Decimal('6.99'), datetime.datetime(2007, 2, 21, 6, 12, 6, 996577)),
 (17853, 431, Decimal('8.99'), datetime.datetime(2007, 2, 21, 11, 48, 57, 996577)),
 (17854, 432, Decimal('5.99'), datetime.datetime(2007, 2, 14, 23, 7, 27, 996577)),
 (17856, 432, Decimal('4.99'), datetime.datetime(2007, 2, 20, 22, 28, 23, 996577)),
 (17858, 434, Decimal('5.99'), datetime.datetime(2007, 2, 16, 3, 19, 16, 996577)),
 (17859, 434, Decimal('7.99'), datetime.datetime(2007, 2, 18, 15, 31, 8, 996577)),
 (17866, 436, Decimal('9.99'), datetime.datetime(2007, 2, 18, 6, 5, 12, 996577)),
 (17867, 437, Decimal('5.99'), datetime.datetime(2007, 2, 18, 2, 52, 20, 996577)),
 (17870, 438, Decimal('4.99'), datetime.datetime(2007, 2, 15, 16, 54, 55, 996577)),
 (17873, 438, Decimal('4.99'), datetime.datetime(2007, 2, 19, 4, 0, 48, 996577)),
 (17874, 438, Decimal('4.99'), datetime.datetime(2007, 2, 21, 6, 45, 30, 996577)),
 (17876, 439, Decimal('4.99'), datetime.datetime(2007, 2, 15, 5, 28, 5, 996577)),
 (17878, 439, Decimal('4.99'), datetime.datetime(2007, 2, 17, 17, 8, 30, 996577)),
 (17881, 439, Decimal('6.99'), datetime.datetime(2007, 2, 21, 5, 31, 49, 996577)),
 (17882, 441, Decimal('4.99'), datetime.datetime(2007, 2, 16, 4, 41, 6, 996577)),
 (17883, 441, Decimal('4.99'), datetime.datetime(2007, 2, 18, 8, 45, 47, 996577)),
 (17884, 442, Decimal('5.99'), datetime.datetime(2007, 2, 15, 4, 27, 21, 996577)),
 (17886, 442, Decimal('8.99'), datetime.datetime(2007, 2, 16, 2, 23, 5, 996577)),
 (17890, 444, Decimal('3.99'), datetime.datetime(2007, 2, 15, 14, 53, 52, 996577)),
 (17892, 444, Decimal('4.99'), datetime.datetime(2007, 2, 19, 1, 19, 30, 996577)),
 (17893, 444, Decimal('7.99'), datetime.datetime(2007, 2, 21, 6, 0, 51, 996577)),
 (17894, 444, Decimal('5.99'), datetime.datetime(2007, 2, 21, 15, 28, 15, 996577)),
 (17895, 446, Decimal('4.99'), datetime.datetime(2007, 2, 18, 3, 28, 14, 996577)),
 (17896, 446, Decimal('3.99'), datetime.datetime(2007, 2, 18, 9, 28, 2, 996577)),
 (17897, 446, Decimal('6.99'), datetime.datetime(2007, 2, 18, 22, 57, 26, 996577)),
 (17903, 447, Decimal('4.99'), datetime.datetime(2007, 2, 17, 11, 32, 26, 996577)),
 (17904, 447, Decimal('4.99'), datetime.datetime(2007, 2, 18, 5, 29, 20, 996577)),
 (17905, 448, Decimal('5.99'), datetime.datetime(2007, 2, 15, 8, 47, 0, 996577)),
 (17906, 448, Decimal('7.99'), datetime.datetime(2007, 2, 16, 20, 16, 42, 996577)),
 (17909, 448, Decimal('5.99'), datetime.datetime(2007, 2, 21, 9, 36, 58, 996577)),
 (17910, 449, Decimal('4.99'), datetime.datetime(2007, 2, 15, 7, 45, 46, 996577)),
 (17913, 450, Decimal('4.99'), datetime.datetime(2007, 2, 16, 7, 2, 5, 996577)),
 (17917, 450, Decimal('4.99'), datetime.datetime(2007, 2, 18, 21, 38, 37, 996577)),
 (17919, 450, Decimal('4.99'), datetime.datetime(2007, 2, 20, 19, 31, 4, 996577)),
 (17922, 451, Decimal('6.99'), datetime.datetime(2007, 2, 17, 6, 10, 48, 996577)),
 (17926, 451, Decimal('6.99'), datetime.datetime(2007, 2, 21, 6, 48, 44, 996577)),
 (17927, 452, Decimal('4.99'), datetime.datetime(2007, 2, 15, 0, 37, 28, 996577)),
 (17928, 452, Decimal('5.99'), datetime.datetime(2007, 2, 15, 21, 21, 29, 996577)),
 (17929, 452, Decimal('3.99'), datetime.datetime(2007, 2, 16, 18, 37, 3, 996577)),
 (17931, 452, Decimal('4.99'), datetime.datetime(2007, 2, 18, 4, 33, 28, 996577)),
 (17934, 453, Decimal('5.99'), datetime.datetime(2007, 2, 19, 21, 37, 16, 996577)),
 (17935, 453, Decimal('7.99'), datetime.datetime(2007, 2, 19, 21, 38, 7, 996577)),
 (17936, 453, Decimal('4.99'), datetime.datetime(2007, 2, 20, 0, 8, 9, 996577)),
 (17937, 454, Decimal('4.99'), datetime.datetime(2007, 2, 16, 7, 43, 24, 996577)),
 (17938, 454, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 22, 19, 996577)),
 (17940, 454, Decimal('4.99'), datetime.datetime(2007, 2, 17, 5, 47, 2, 996577)),
 (17941, 454, Decimal('5.99'), datetime.datetime(2007, 2, 17, 13, 23, 55, 996577)),
 (17942, 454, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 24, 44, 996577)),
 (17944, 454, Decimal('9.99'), datetime.datetime(2007, 2, 19, 9, 45, 38, 996577)),
 (17946, 454, Decimal('4.99'), datetime.datetime(2007, 2, 21, 10, 48, 20, 996577)),
 (17953, 456, Decimal('5.99'), datetime.datetime(2007, 2, 17, 17, 41, 36, 996577)),
 (17954, 456, Decimal('6.99'), datetime.datetime(2007, 2, 17, 20, 54, 49, 996577)),
 (17955, 456, Decimal('4.99'), datetime.datetime(2007, 2, 18, 0, 4, 13, 996577)),
 (17958, 457, Decimal('4.99'), datetime.datetime(2007, 2, 15, 18, 5, 5, 996577)),
 (17961, 457, Decimal('7.99'), datetime.datetime(2007, 2, 17, 22, 34, 42, 996577)),
 (17962, 457, Decimal('4.99'), datetime.datetime(2007, 2, 19, 9, 58, 42, 996577)),
 (17963, 457, Decimal('3.99'), datetime.datetime(2007, 2, 19, 15, 50, 57, 996577)),
 (17967, 458, Decimal('5.99'), datetime.datetime(2007, 2, 19, 7, 10, 38, 996577)),
 (17971, 459, Decimal('4.99'), datetime.datetime(2007, 2, 17, 15, 8, 59, 996577)),
 (17973, 459, Decimal('4.99'), datetime.datetime(2007, 2, 20, 11, 4, 10, 996577)),
 (17975, 459, Decimal('9.99'), datetime.datetime(2007, 2, 21, 1, 8, 10, 996577)),
 (17977, 461, Decimal('5.99'), datetime.datetime(2007, 2, 20, 17, 8, 9, 996577)),
 (17978, 461, Decimal('4.99'), datetime.datetime(2007, 2, 21, 6, 54, 12, 996577)),
 (17979, 462, Decimal('5.99'), datetime.datetime(2007, 2, 16, 16, 42, 9, 996577)),
 (17980, 462, Decimal('9.99'), datetime.datetime(2007, 2, 17, 4, 52, 56, 996577)),
 (17981, 462, Decimal('4.99'), datetime.datetime(2007, 2, 21, 4, 34, 19, 996577)),
 (17983, 463, Decimal('4.99'), datetime.datetime(2007, 2, 18, 23, 38, 57, 996577)),
 (17985, 463, Decimal('4.99'), datetime.datetime(2007, 2, 21, 6, 29, 15, 996577)),
 (17986, 464, Decimal('4.99'), datetime.datetime(2007, 2, 15, 6, 29, 55, 996577)),
 (17989, 465, Decimal('4.99'), datetime.datetime(2007, 2, 17, 15, 18, 11, 996577)),
 (17990, 465, Decimal('8.99'), datetime.datetime(2007, 2, 17, 22, 5, 55, 996577)),
 (17992, 466, Decimal('7.99'), datetime.datetime(2007, 2, 16, 19, 28, 1, 996577)),
 (17993, 466, Decimal('8.99'), datetime.datetime(2007, 2, 18, 17, 33, 7, 996577)),
 (17995, 466, Decimal('4.99'), datetime.datetime(2007, 2, 21, 1, 16, 22, 996577)),
 (17997, 467, Decimal('8.99'), datetime.datetime(2007, 2, 16, 14, 28, 10, 996577)),
 (17998, 467, Decimal('4.99'), datetime.datetime(2007, 2, 17, 19, 7, 20, 996577)),
 (17999, 467, Decimal('9.99'), datetime.datetime(2007, 2, 19, 22, 46, 12, 996577)),
 (18000, 467, Decimal('6.99'), datetime.datetime(2007, 2, 21, 1, 45, 2, 996577)),
 (18002, 468, Decimal('8.99'), datetime.datetime(2007, 2, 16, 6, 19, 35, 996577)),
 (18005, 468, Decimal('4.99'), datetime.datetime(2007, 2, 18, 18, 28, 41, 996577)),
 (18008, 469, Decimal('9.99'), datetime.datetime(2007, 2, 16, 9, 45, 48, 996577)),
 (18011, 470, Decimal('7.99'), datetime.datetime(2007, 2, 16, 3, 43, 38, 996577)),



#### Summary
- **Single-Row Subqueries**: Return a single row and are used with comparison operators.
- **Multiple-Row Subqueries**: Return multiple rows and are used with operators like `IN`, `ANY`, `ALL`.
- **Correlated Subqueries**: Refer to columns in the outer query and are evaluated once for each row processed by the outer query.