# Lecture 7: PostgreSQL part 4

## Introduction
SQL (Structured Query Language) is a powerful language used for managing and manipulating relational databases. It consists of five main components:

1. **DDL (Data Definition Language)**:
   - Used for defining and modifying database structures.
   - Examples: `CREATE`, `ALTER`, `DROP`.

2. **DQL (Data Query Language)**:
   - Used for querying data from the database.
   - Example: `SELECT`.

3. **DML (Data Manipulation Language)**:
   - Used for manipulating data within the database.
   - Examples: `INSERT`, `UPDATE`, `DELETE`.

4. **DCL (Data Control Language)**:
   - Used for controlling access to data within the database.
   - Examples: `GRANT`, `REVOKE`.

5. **TCL (Transaction Control Language)**:
   - Used for managing transactions within the database.
   - Examples: `COMMIT`, `ROLLBACK`.

Today, we will focus on **DDL (Data Definition Language)**, specifically on how to create, modify, and drop tables in SQL, including the use of integrity constraints.

## Learning Objectives
- Understand how to create tables with various integrity constraints, including `PRIMARY KEY`, `FOREIGN KEY`, `UNIQUE`, `NOT NULL`, `DEFAULT`, and `CHECK`.
- Learn how to modify existing tables using the `ALTER` statement.
- Gain knowledge on how to drop tables using the `DROP` statement.

### Connecting to the Database

In [116]:
# load the ipython-sql extension
%load_ext sql

import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Let's connect to your dvdrental database

In [117]:
%sql postgresql://{username}:{password}@{host}:{port}/dvdrental

'Connected: postgres@dvdrental'

In [118]:
%%sql
DROP TABLE IF EXISTS employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

## Creating Tables

### PRIMARY KEY

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype PRIMARY KEY,
    ...
);

#### Example
To create a table with a primary key:

In [119]:
%%sql
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department VARCHAR(50)
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

- **Explanation**:
  - `id SERIAL PRIMARY KEY`: Creates an auto-incrementing primary key.
  - `first_name VARCHAR(50)`: Creates a column for the first name with a maximum length of 50 characters.
  - `last_name VARCHAR(50)`: Creates a column for the last name with a maximum length of 50 characters.
  - `age INT`: Creates a column for the age.
  - `department VARCHAR(50)`: Creates a column for the department with a maximum length of 50 characters.

A primary key should be unique. Let's try to insert two records of the same `id`, this should fail

In [120]:
%%sql
INSERT INTO employees (id)
VALUES (1), (1);

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "employees_pkey"
DETAIL:  Key (id)=(1) already exists.

[SQL: INSERT INTO employees (id)
VALUES (1), (1);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### FOREIGN KEY

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    ...
    FOREIGN KEY (column_name) REFERENCES other_table (column_name)
);

#### Example
To create a table with a foreign key:

In [121]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments (id)
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
Done.
Done.

[]

- **Explanation**:
  - `FOREIGN KEY (department_id) REFERENCES departments (id)`: Ensures that the `department_id` in the `employees` table must match an `id` in the `departments` table.

In [122]:
%%sql
INSERT INTO departments (name) VALUES
    ('Engineering'),
    ('Marketing'),
    ('Sales'),
    ('HR'),
    ('Finance'),
    ('IT');

SELECT * FROM departments;

 * postgresql://postgres:***@localhost:5432/dvdrental
6 rows affected.
6 rows affected.

[(1, 'Engineering'),
 (2, 'Marketing'),
 (3, 'Sales'),
 (4, 'HR'),
 (5, 'Finance'),
 (6, 'IT')]

In [123]:
%%sql
INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('John', 'Doe', 30, 1),
    ('Jane', 'Smith', 25, 2),
    ('Alice', 'Johnson', 28, 3),
    ('Bob', 'Brown', 35, 4),
    ('Charlie', 'Davis', 40, 5),
    ('David', 'Miller', 32, 6);

SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
6 rows affected.
6 rows affected.

[(1, 'John', 'Doe', 30, 1),
 (2, 'Jane', 'Smith', 25, 2),
 (3, 'Alice', 'Johnson', 28, 3),
 (4, 'Bob', 'Brown', 35, 4),
 (5, 'Charlie', 'Davis', 40, 5),
 (6, 'David', 'Miller', 32, 6)]

What if I insert a row in the `employees` table where the `department_id` doesn't exist in the `department` table?

In [124]:
%%sql
INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('Quan', 'Nguyen', 30, 12345);

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "employees" violates foreign key constraint "employees_department_id_fkey"
DETAIL:  Key (department_id)=(12345) is not present in table "departments".

[SQL: INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('Quan', 'Nguyen', 30, 12345);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

It returns an error message saying 

>ForeignKeyViolation: insert or update on table "employees" violates foreign key constraint >"employees_department_id_fkey"
>DETAIL:  Key (department_id)=(12345) is not present in table "departments".

### UNIQUE

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype UNIQUE,
    ...
);

#### Example
To create a table with a unique constraint:

In [125]:
%%sql
DROP TABLE employees;
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department VARCHAR(50),
    email VARCHAR(100) UNIQUE
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.

[]

- **Explanation**:
  - `email VARCHAR(100) UNIQUE`: Ensures that all values in the `email` column are unique.

Insert a row with a unique email

In [126]:
%%sql
INSERT INTO employees (first_name, last_name, age, department, email) VALUES
    ('John', 'Doe', 30, 'Engineering', 'john.doe@example.com');
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.
1 rows affected.

[(1, 'John', 'Doe', 30, 'Engineering', 'john.doe@example.com')]

Attempt to insert another row with the same email. This should throw an error

In [127]:
%%sql
INSERT INTO employees (first_name, last_name, age, department, email) VALUES
    ('Jane', 'Smith', 25, 'Marketing', 'john.doe@example.com');

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "employees_email_key"
DETAIL:  Key (email)=(john.doe@example.com) already exists.

[SQL: INSERT INTO employees (first_name, last_name, age, department, email) VALUES
    ('Jane', 'Smith', 25, 'Marketing', 'john.doe@example.com');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### NOT NULL

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype NOT NULL,
    ...
);

#### Example
To create a table with a not null constraint:

In [128]:
%%sql
DROP TABLE employees;
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    age INT,
    department VARCHAR(50)
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.

[]

- **Explanation**:
  - `first_name VARCHAR(50) NOT NULL`: Ensures that the `first_name` column cannot have a `NULL` value.
  - `last_name VARCHAR(50) NOT NULL`: Ensures that the `last_name` column cannot have a `NULL` value.

Attempt to insert a row with a NULL first_name

In [129]:
%%sql
INSERT INTO employees (first_name, last_name, age, department) 
VALUES
    (NULL, 'Doe', 30, 'Engineering');

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "first_name" of relation "employees" violates not-null constraint
DETAIL:  Failing row contains (1, null, Doe, 30, Engineering).

[SQL: INSERT INTO employees (first_name, last_name, age, department)
VALUES
    (NULL, 'Doe', 30, 'Engineering');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### DEFAULT

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype DEFAULT default_value,
    ...
);

#### Example
To create a table with a default constraint:

In [130]:
%%sql
DROP TABLE employees;
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department VARCHAR(50) DEFAULT 'General'
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.

[]

- **Explanation**:
  - `department VARCHAR(50) DEFAULT 'General'`: Sets a default value of 'General' for the `department` column if no value is provided.

Insert a Row Without Specifying the department Column

In [131]:
%%sql
INSERT INTO employees (first_name, last_name, age) 
VALUES
    ('John', 'Doe', 30),
    ('Jane', 'Smith', 25)
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'John', 'Doe', 30, 'General'), (2, 'Jane', 'Smith', 25, 'General')]

### CHECK

**General Syntax**

In [ ]:
CREATE TABLE table_name (
    column1 datatype CHECK (condition),
    ...
);

#### Example
To create a table with a check constraint:

In [132]:
%%sql
DROP TABLE employees;
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT CHECK (age > 0),
    department VARCHAR(50)
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.

[]

- **Explanation**:
  - `age INT CHECK (age > 0)`: Ensures that the `age` must be greater than 0.

To test if the `CHECK` constraint on the `age` column holds up, we can attempt to insert rows with invalid values for the `age` column. If the constraint is enforced correctly, the insertion should fail.

Insert a Row with a Valid age:

In [133]:
%%sql
INSERT INTO employees (first_name, last_name, age, department) VALUES
    ('John', 'Doe', 30, 'Engineering')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(1, 'John', 'Doe', 30, 'Engineering')]

Attempt to Insert a Row with an Invalid age:

In [134]:
%%sql
INSERT INTO employees (first_name, last_name, age, department) VALUES
    ('Jane', 'Smith', -5, 'Marketing');

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.CheckViolation) new row for relation "employees" violates check constraint "employees_age_check"
DETAIL:  Failing row contains (2, Jane, Smith, -5, Marketing).

[SQL: INSERT INTO employees (first_name, last_name, age, department) VALUES
    ('Jane', 'Smith', -5, 'Marketing');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

## Referential Actions

Referential actions define what happens to the foreign key when the referenced key is updated or deleted. These actions help maintain referential integrity between tables.

### Purpose
- **ON UPDATE**: Specifies the action to be taken when the referenced key is updated.
- **ON DELETE**: Specifies the action to be taken when the referenced key is deleted.

### Actions
- **CASCADE**: Automatically updates or deletes the foreign key to match the referenced key.
- **SET NULL**: Sets the foreign key to `NULL` if the referenced key is updated or deleted.
- **SET DEFAULT**: Sets the foreign key to its default value if the referenced key is updated or deleted.
- **RESTRICT**: Prevents the update or deletion of the referenced key if there are matching foreign keys.
- **NO ACTION**: Same as `RESTRICT` in PostgreSQL.

#### ON UPDATE CASCADE

In [135]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments (id)
    ON UPDATE CASCADE
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
Done.
Done.

[]

- **Explanation**:
  - If the `id` in the `departments` table is updated, the `department_id` in the `employees` table will also be updated to match the new value.

Insert Sample Data into departments Table:

In [136]:
%%sql
INSERT INTO departments (name) VALUES
    ('Engineering'),
    ('Marketing')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'Engineering'), (2, 'Marketing')]

Insert Sample Data into employees Table:

In [137]:
%%sql
INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('John', 'Doe', 30, 1),
    ('Jane', 'Smith', 25, 2)
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'John', 'Doe', 30, 1), (2, 'Jane', 'Smith', 25, 2)]

Update the id of a Department:

In [138]:
%%sql
UPDATE departments SET id = 3 WHERE id = 1
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(3, 'Engineering')]

Query the employees Table to Verify the Cascade Update:

In [139]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(2, 'Jane', 'Smith', 25, 2), (1, 'John', 'Doe', 30, 3)]

#### ON DELETE SET NULL

In [140]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments (id)
    ON DELETE SET NULL
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
Done.
Done.

[]

- **Explanation**:
  - If the `id` in the `departments` table is deleted, the `department_id` in the `employees` table will be set to `NULL`.

Insert Sample Data into departments Table:

In [141]:
%%sql
INSERT INTO departments (name) VALUES
    ('Engineering'),
    ('Marketing')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'Engineering'), (2, 'Marketing')]

Insert Sample Data into employees Table:

In [142]:
%%sql
INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('John', 'Doe', 30, 1),
    ('Jane', 'Smith', 25, 2)
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'John', 'Doe', 30, 1), (2, 'Jane', 'Smith', 25, 2)]

Delete a department

In [143]:
%%sql
DELETE FROM departments WHERE id = 1;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[]

In [144]:
%%sql
SELECT * FROM departments;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(2, 'Marketing')]

In [145]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(2, 'Jane', 'Smith', 25, 2), (1, 'John', 'Doe', 30, None)]

#### ON DELETE CASCADE

In [146]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments (id)
    ON DELETE CASCADE
);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.
Done.
Done.
Done.

[]

- **Explanation**:
  - If the `id` in the `departments` table is deleted, all rows in the `employees` table with the matching `department_id` will also be deleted.

Insert Sample Data into departments Table:

In [147]:
%%sql
INSERT INTO departments (name) VALUES
    ('Engineering'),
    ('Marketing')
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'Engineering'), (2, 'Marketing')]

Insert Sample Data into employees Table:

In [148]:
%%sql
INSERT INTO employees (first_name, last_name, age, department_id) VALUES
    ('John', 'Doe', 30, 1),
    ('Jane', 'Smith', 25, 2)
RETURNING *;

 * postgresql://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'John', 'Doe', 30, 1), (2, 'Jane', 'Smith', 25, 2)]

In [149]:
%%sql
DELETE FROM departments WHERE id = 2;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[]

In [150]:
%%sql
SELECT * FROM departments;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(1, 'Engineering')]

In [151]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(1, 'John', 'Doe', 30, 1)]

## Modifying Tables

### Adding a Column

**General Syntax**

In [ ]:
ALTER TABLE table_name
ADD COLUMN column_name datatype constraint;

#### Example
To add a new column to an existing table:

In [152]:
%%sql
ALTER TABLE employees
ADD COLUMN phone_number VARCHAR(15);

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

- **Explanation**:
  - `ALTER TABLE employees`: Specifies the table to be modified.
  - `ADD COLUMN phone_number VARCHAR(15)`: Adds a new column named `phone_number` with a maximum length of 15 characters.

In [153]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(1, 'John', 'Doe', 30, 1, None)]

## Modifying a Column

**General Syntax**

In [ ]:
ALTER TABLE table_name
ALTER COLUMN column_name SET constraint;

#### Example
To modify an existing column in a table:

In [154]:
%%sql
ALTER TABLE employees
ALTER COLUMN age SET NOT NULL;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

- **Explanation**:
  - `ALTER TABLE employees`: Specifies the table to be modified.
  - `ALTER COLUMN age SET NOT NULL`: Modifies the `age` column to ensure it cannot have a `NULL` value.

In [155]:
%%sql
INSERT INTO employees (first_name, last_name) VALUES ('John', 'Doe');

 * postgresql://postgres:***@localhost:5432/dvdrental

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "age" of relation "employees" violates not-null constraint
DETAIL:  Failing row contains (3, John, Doe, null, null, null).

[SQL: INSERT INTO employees (first_name, last_name) VALUES ('John', 'Doe');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

## Dropping a Column

**General Syntax**

In [ ]:
ALTER TABLE table_name
DROP COLUMN column_name;



###### Example
To drop an existing column from a table:

In [156]:
%%sql
ALTER TABLE employees
DROP COLUMN phone_number;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

- **Explanation**:
  - `ALTER TABLE employees`: Specifies the table to be modified.
  - `DROP COLUMN phone_number`: Removes the `phone_number` column from the table.

In [157]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(1, 'John', 'Doe', 30, 1)]

## Dropping Tables

**General Syntax**

In [ ]:
DROP TABLE table_name;



##### Example
To drop an existing table:

In [161]:
%%sql
DROP TABLE employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
Done.

[]

- **Explanation**:
  - `DROP TABLE employees`: Removes the `employees` table from the database.

In [162]:
%%sql
SELECT * FROM employees;

 * postgresql://postgres:***@localhost:5432/dvdrental
(psycopg2.errors.UndefinedTable) relation "employees" does not exist
LINE 1: SELECT * FROM employees;
                      ^

[SQL: SELECT * FROM employees;]
(Background on this error at: https://sqlalche.me/e/14/f405)